<!-- Avatar -->
<a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside"
	data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
	<img class="avatar-img rounded-2" [src]="user.profilePic" alt="{{user.userName}}" title="{{user.userName}}">
</a>

<ul class="dropdown-menu dropdown-animation dropdown-menu-start shadow pt-3 border" aria-labelledby="profileDropdown">
	<!-- Links -->
	<li>
		<a class="dropdown-item" [routerLink]="['/profile', user.userID]" routerLinkActive="">
			<i class="fa-duotone fa-user"></i>
			الملف الشخصي
		</a>
	</li>
	<li>
		<a class="dropdown-item" [routerLink]="['/settings']" routerLinkActive="">
			<i class="fa-duotone fa-gear"></i>
			الاعدادات
		</a>
	</li>
	<li>
		<a class="dropdown-item" href="#">
			<i class="fa-duotone fa-circle-info"></i>
			مركز المساعدات
		</a>
	</li>
	<li>
		<a class="dropdown-item bg-danger-soft-hover btn" (click)="logOut()">
			<i class="fa-duotone fa-power-off"></i>
			خروج
		</a>
	</li>
	<li>
		<hr class="dropdown-divider">
	</li>

	<!-- language options -->
	<li>
		<div
			class="nav-pills-primary-soft theme-icon-active d-flex justify-content-between align-items-center p-2 pb-0 gap-2">
			<span>اللغة:</span>
			<select class="form-select form-select-sm" aria-label="اللغة" dir="auto">
				<option class="text-end" value="ar">العربية</option>
				<option class="text-end english-text" value="en">English</option>
			</select>
		</div>
	</li>
	<!-- Dark mode options -->
	<li>
		<div
			class="nav-pills-primary-soft theme-icon-active d-flex justify-content-between align-items-center p-2 pb-0">
			<span>المظهر:</span>
			<button type="button" class="btn btn-link nav-link text-primary-hover mb-0 p-0" title="light"
				data-bs-theme-value="light" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Light"
				(click)="togglePreferredThemeMode('light')" [ngClass]="selectedTheme == 'light'?'active':''">
				<i class="fa-duotone fa-sun-bright"></i>
			</button>
			<button type="button" class="btn btn-link nav-link text-primary-hover mb-0 p-0" title="dark"
				data-bs-theme-value="dark" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Dark"
				(click)="togglePreferredThemeMode('dark')" [ngClass]="selectedTheme == 'dark'?'active':''">
				<i class="fa-duotone fa-moon-stars"></i>
			</button>
			<button type="button" class="btn btn-link nav-link text-primary-hover mb-0 p-0" title="auto"
				data-bs-theme-value="auto" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Auto"
				(click)="togglePreferredThemeMode('auto')" [ngClass]="selectedTheme == 'auto'?'active':''">
				<i class="fa-duotone fa-circle-half-stroke"></i>
			</button>
		</div>
	</li>

</ul>
