input[type="number"] {
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

.input-counter input {
	max-width: 3.5rem;
}


/* ============================================= */
svg#freepik_stories-empty:not(.animated) .animable {
	opacity: 0;
}

svg#freepik_stories-empty.animated #freepik--Box--inject-20 {
	-webkit-animation: 1.5s Infinite linear floating;
	        animation: 1.5s Infinite linear floating;
	-webkit-animation-delay: 0s;
	        animation-delay: 0s;
}

@-webkit-keyframes floating {
	0% {
		opacity: 1;
		transform: translateY(0px);
	}

	50% {
		transform: translateY(-10px);
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes floating {
	0% {
		opacity: 1;
		transform: translateY(0px);
	}

	50% {
		transform: translateY(-10px);
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
