<div class="row">
	<div class="d-flex justify-content-between mb-4">
		<h4 class="card-header-title">عربة التسوق</h4>
		<div class="d-flex gap-2">
			<button class="btn btn-danger-soft">
				<i class="fa-duotone fa-trash"></i>
				امسح الكل
			</button>
			<a [routerLink]="['/checkout']" class="btn btn-primary-soft">
				<i class="fa-duotone fa-cart-circle-check"></i>
				تابع عملية الشراء
			</a>
		</div>
	</div>
</div>

<div class="row">
	<!-- Cart Items -->
	<div class="col-lg-8 col-md-7">
		<ul class="list-group list-group-flush" *ngFor="let item of products">
			<li class="list-group-item py-3 px-0 border-bottom">
				<div class="align-items-center justify-content-between row">
					<!-- item img -->
					<div class="col-3 col-md-2">
						<img src="{{item.Image}}" class="img-fluid rounded" alt="Card image">
					</div>
					<!-- item details -->
					<div class="col-4 col-md-5">
						<!-- Title -->
						<h5 class="card-title mb-3 text-truncate">
							{{item.Name}}
						</h5>
						<a (click)="remove(item)" class="btn btn-sm btn-danger-soft" title="حذف من عربة التسوق">
							<i class="fa-duotone fa-trash"></i>
							حذف
						</a>
					</div>
					<!-- item quntity -->
					<div class="col-3 col-md-3">
						<div class="input-group input-group-sm input-counter">
							<button class="btn btn-group-sm border m-0 rounded-0 rounded-end bg-light-hover"
								(click)="stepDown(item)">
								<i class="fa-solid fa-minus"></i>
							</button>
							<input min="1" [value]="item.Quantity" type="number" id="{{item.ID}}" name="quantity"
								class="form-control border text-center" disabled>
							<button class="btn btn-group-sm border m-0 rounded-0 rounded-start bg-light-hover"
								(click)="stepUp(item)">
								<i class="fa-solid fa-plus"></i>
							</button>
						</div>
					</div>
					<!-- item price -->
					<div class="col-2 col-md-2 text-lg-end text-start text-end">
						<h6 class="fw-bold mb-0">{{item.UnitPrice | CustomCurrency:'ar':false}}</h6>
						<div class="border-top my-1" *ngIf="item.Quantity!=1">
							<h6>× {{item.Quantity}}</h6>
							<h6 class="fw-bold mb-0">
								{{item.UnitPrice*item.Quantity | CustomCurrency:'ar':false}}
							</h6>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div *ngIf="products">
			cart is empty
		</div>
		<div class="d-flex justify-content-between mt-4">
			<a [routerLink]="['/shop']" class="btn btn-primary-soft btn-sm">استمرار التصفح</a>
		</div>

	</div>

	<!-- Cart Summery -->
	<div class="col-12 col-lg-4 col-md-5 mt-4 mt-lg-0">
		<div class="card">
			<div class="card-header border-0 pb-0">
				<h2 class="h5">ملخص الطلب</h2>
			</div>
			<div class="card-body pb-0">
				<ul class="list-group list-group-flush border rounded m-0 p-0">
					<li class="list-group-item d-flex justify-content-between align-items-start">
						<div class="ms-auto">
							<div>السلع</div>
						</div>
						<span>{{totalUnitsPrice | CustomCurrency:'ar':false}}</span>
					</li>

					<li class="list-group-item d-flex justify-content-between align-items-start">
						<div class="ms-auto">
							<div>رسوم الخدمة</div>
						</div>
						<span>{{3 | CustomCurrency:'ar':false}}</span>
					</li>
					<li class="list-group-item d-flex justify-content-between align-items-start">
						<div class="ms-auto">
							<div class="fw-bold">إجمالي المبلغ</div>
						</div>
						<span class="fw-bold text-primary">{{totalPrice | CustomCurrency:'ar':false}}</span>
					</li>
				</ul>
			</div>
			<div class="card-footer border-0">
				<div class="d-grid mb-1">
					<!-- <button
								class="btn btn-primary-soft btn-lg d-flex justify-content-between align-items-center"
								type="submit">
								Go to Checkout <span class="fw-bold">$72.00</span>
							</button> -->
					<p>
						<small>
							من خلال تقديم طلبك، فإنك توافق على الالتزام بشروط الخدمة وسياسة الخصوصية لدى
							Servmart.
						</small>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
