<div class="page-content mb-5 m-0">
	<div class="vstack gap-4">

		<!-- Personal info START -->
		<div class="card border">
			<!-- Card header -->
			<div class="card-header border-bottom">
				<h4 class="card-header-title">المعلومات الشخصية</h4>
			</div>
			<span *ngIf="showsSuccessMessage" class="text-success">&#10004; تم تحديث المعلومات الشخصية بنجاح!</span>
			<span *ngIf="showeErrorMessage" class="text-danger">&#10008; خطأ في المعلومات الشخصية </span>

			<div class="card-body">

				<form class="row g-3" [formGroup]="userInfoForm">
					<!-- Profile photo -->
					<div class="col-12">
						<label class="form-label">ارفع صورة ملقك الشخصى<span class="text-danger">*</span></label>
						<div class="d-flex align-items-center form">
							<!-- <label class="position-relative ms-4 border rounded-circle" type="file"
								(change)="onFileSelected($event)" accept="image/*" title="user image">
								<span class="avatar avatar-xl">
									<img id="uploadfile-1-preview" class="avatar-img rounded-circle shadow"
										style="width: 200px;" *ngIf="userInfoForm.get('ProfilePic').value"
										[src]="userInfoForm.get('ProfilePic').value">
								</span>
							</label> -->
							<div class="btn btn-sm btn-primary-soft mb-0 form-group">
								<!-- <label for="ProfilePic" type="button" (click)="selectFile()">تغير</label> -->
								<input class="form-control " type="file" id="ProfilePic" name="ProfilePic"
									(change)="onFileSelected($event)" accept="image/*">
							</div>

						</div>
					</div>

					<!-- Name -->
					<div class="col-md-6 form-group">
						<label class="form-label" for="FName">الاسم الاول<span class="text-danger">*</span></label>
						<input type="text" class="form-control" value="" placeholder="ادخل الاسم الاول" id="FName"
							formControlName="FName"
							[ngClass]="{'is-invalid': userInfoForm.get('FName').touched && userInfoForm.get('FName').invalid}">
						<span
							*ngIf="userInfoForm.get('FName').touched && userInfoForm.get('FName').hasError('required')"
							class="invalid-feedback">
							الاسم الاول مطلوب
						</span>
						<span
							*ngIf="userInfoForm.get('FName').touched && userInfoForm.get('FName').hasError('minlength')"
							class="invalid-feedback">
							الاسم يجب ألا يقل عن 3 حروف
						</span>
						<span
							*ngIf="userInfoForm.get('FName').touched && userInfoForm.get('FName').hasError('invalidname')"
							class="invalid-feedback">
							لا يمكن أن يحتوي الاسم على أرقام
						</span>

					</div>

					<!-- Email -->
					<div class="col-md-6">
						<label class="form-label" for="LName">الاسم الاخير<span class="text-danger">*</span></label>
						<input type="text" class="form-control" value="" placeholder="ادخل الاسم الاخير" id="LName"
							formControlName="LName"
							[ngClass]="{'is-invalid': userInfoForm.get('LName').touched && userInfoForm.get('LName').invalid}">
						<span
							*ngIf="userInfoForm.get('LName').touched && userInfoForm.get('LName').hasError('required')"
							class="invalid-feedback">
							الاسم الاخير مطلوب
						</span>
						<span
							*ngIf="userInfoForm.get('LName').touched && userInfoForm.get('LName').hasError('minlength')"
							class="invalid-feedback">
							لا يجب أن يقل الاسم عن 3 حروف
						</span>
						<span
							*ngIf="userInfoForm.get('LName').touched && userInfoForm.get('LName').hasError('invalidname')"
							class="invalid-feedback">
							لا يمكن أن يحتوي الاسم على أرقام
						</span>

					</div>

					<!-- Username -->
					<div class="col-md-6">
						<label class="form-label">اسم المستخدم<span class="text-danger" for="Username">*</span></label>
						<input type="text" class="form-control" value="" placeholder="ادخل اسم المستخدم" id="Username"
							formControlName="Username"
							[ngClass]="{'is-invalid': userInfoForm.get('Username').touched && userInfoForm.get('Username').invalid}">
						<span
							*ngIf="userInfoForm.get('Username').touched && (userInfoForm.get('Username').hasError('required') || userInfoForm.get('Username').hasError('minlength'))"
							class="invalid-feedback">
							{{ userInfoForm.get('Username').hasError('required') ? 'اسم المستخدم مطلوب' : 'خطأ في اسم المستخدم' }}
						</span>

					</div>

					<!-- Mobile -->
					<div class="col-md-6">
						<label class="form-label">رقم الهاتف<span class="text-danger" for="PhoneNo">*</span></label>
						<input type="text" class="form-control" value="222 555 666" placeholder="ادخل رقم الهاتف"
							id="PhoneNo" formControlName="PhoneNo"
							[ngClass]="{'is-invalid': userInfoForm.get('PhoneNo').touched && userInfoForm.get('PhoneNo').invalid}">
						<span
							*ngIf="userInfoForm.get('PhoneNo').touched && (userInfoForm.get('PhoneNo').hasError('required') || userInfoForm.get('PhoneNo').hasError('invalidPhoneNumber'))"
							class="invalid-feedback">
							{{ userInfoForm.get('PhoneNo').hasError('required') ? 'رقم الهاتف مطلوب' : 'خطأ في رقم الهاتف' }}
						</span>

					</div>

					<!-- SSN -->
					<div class="col-md-12">
						<label class="form-label">رقم الهوية<span class="text-danger" for="SSN">*</span></label>
						<input type="text" class="form-control" value="222 555 666" placeholder="ادخل رقم الهوية"
							id="SSN" formControlName="SSN"
							[ngClass]="{'is-invalid': userInfoForm.get('SSN').touched && userInfoForm.get('SSN').invalid}">
						<span
							*ngIf="userInfoForm.get('SSN').touched && (userInfoForm.get('SSN').hasError('required') || userInfoForm.get('SSN').hasError('invalidsnn'))"
							class="invalid-feedback">
							{{ userInfoForm.get('SSN').hasError('required') ? 'رقم الهوية مطلوب' : 'خطأ في رقم الهوية'
							}}
						</span>

					</div>

					<!-- Date of birth -->
					<div class="col-md-6">
						<label class="form-label">تاريخ الميلاد<span class="text-danger" for="DOB">*</span></label>
						<input type="date" class="form-control flatpickr" value="29 Aug 1996"
							placeholder="Enter date of birth" data-date-format="d M Y" id="DOB" formControlName="DOB"
							[ngClass]="{'is-invalid': userInfoForm.get('DOB').touched && userInfoForm.get('DOB').invalid}">
						<span *ngIf="userInfoForm.get('DOB').hasError('required') && userInfoForm.get('DOB').touched"
							class="invalid-feedback"> sss </span>
						<span *ngIf="userInfoForm.get('DOB').hasError('futureDate') && userInfoForm.get('DOB').touched"
							class="invalid-feedback"> invalidDate.

						</span>
					</div>

					<!-- Gender -->
					<div class="col-md-6">
						<label class="form-label">النوع<span class="text-danger">*</span></label>
						<div class="d-flex gap-4">
							<div class="form-check radio-bg-light">
								<input class="form-check-input" type="radio" checked="" id="انثى" value="انثى"
									formControlName="Gender">
								<label class="form-check-label" for="flexRadioDefault1" for="انثى">
									انثى
								</label>
							</div>
							<div class="form-check radio-bg-light">
								<input class="form-check-input" type="radio" id="ذكر" value="ذكر"
									formControlName="Gender">
								<label class="form-check-label" for="flexRadioDefault2" for="ذكر">
									ذكر
								</label>
							</div>

						</div>
					</div>

					<!-- Address -->
					<div class="col-12">
						<label class="form-label" for="Address">العنوان</label>
						<textarea class="form-control" rows="3" spellcheck="false" id="Address"
							formControlName="Address"
							[ngClass]="{'is-invalid': userInfoForm.get('Address').touched && userInfoForm.get('Address').invalid}"></textarea>
						<span
							*ngIf="userInfoForm.get('Address').hasError('required') && userInfoForm.get('Address').touched"
							class="invalid-feedback"> العنوان مطلوب </span>

					</div>

					<!-- Button -->
					<div class="col-12 text-start">
						<button href="#" class="btn btn-primary-soft mb-0" (click)="onSubmitUserInfo()">حفظ التغيرات</button>
					</div>
				</form>

			</div>

		</div>

		<div class="card border">
			<div class="card-header">
				<h4 class="card-header-title">تحديث نوع الحساب</h4>
			</div>
			<span *ngIf="showaSuccessMessage" class="text-success">&#10004; تم تحديث بنجاح!</span>
			<span *ngIf="showaErrorMessage" class="text-danger">&#10008; حدث خطأ اثناء التحديث</span>
			<div class="card-body">

				<form >
					<div class="row">


						<!-- <div class="col-md-6">
							<label class="form-label">المهنة<span class="text-danger" for="work">*</span></label>
							<select class="form-select js-choice" id="work" formControlName="work">
								<option *ngFor="let account of accountoption">{{account}}</option>
							</select>
						</div> - -->
						<div class="form-group col-md-6">
							<label> نوع الحساب</label>

							<div class="form-check" *ngFor="let work of workoption" >
							  <input class="form-check-input" type="checkbox" value="{{work}}" (change)="SetRole($event,work)" id="role">
							  <label class="form-check-label" for="adminCheckbox">{{work}}</label>


							</div>
						  </div>
						<div class="col-12 text-start mt-3">
							<button href="#" class="btn btn-primary-soft mb-0" (click)="updateSettings()">
								حفظ التغيرات
							</button>
						</div>

					</div>
				</form>

			</div>
		</div>

		<!-- Update email START -->
		<div class="card border">

			<div class="card-header border-bottom">
				<h4 class="card-header-title">تحديث البريد الاكترونى </h4>
				<p class="mb-0">بريد الاكترونى الحالى هو : {{emaiil}}<span class="text-primary"></span></p>

			</div>
			<span *ngIf="showSuccessMessage" class="text-success">&#10004; تم تحديث البريد الإلكتروني بنجاح!</span>
			<span *ngIf="showErrorMessage" class="text-danger">&#10008; خطأ في البريد الإلكتروني</span>
			<div class="card-body">
				<form [formGroup]="emailform" class=" row">
					<div class="col-6">
				<label class="form-label" for="email">ادخل البريد الالكترونى الجديد<span
						class="text-danger">*</span></label>
				<input type="email" class="form-control" placeholder="ادخل البريد الالكترونى الجديد" id="email"
					formControlName="email"
					[ngClass]="{'is-invalid': emailform.get('email').touched && emailform.get('email').invalid}">
				<span
					*ngIf="emailform.get('email').touched && (emailform.get('email').hasError('required') || emailform.get('email').hasError('invalidEmail'))"
					class="invalid-feedback">
					{{ emailform.get('email').hasError('required') ? 'البريد الالكترونى مطلوب' : 'خطأ في البريد	الالكتروني' }}
				</span>
			</div>


					<div class="text-start mt-3">
						<a type="submit" (click)="onChangeEmail()" class="btn btn-primary-soft mb-0">تحديث البريد
							الكترونى</a>
					</div>

				</form>
			</div>
		</div>



		<div class="card border">

			<div class="card-header border-bottom">
				<h4 class="card-header-title">تحديث كلمة السر</h4>

			</div>
			<div>
				<span *ngIf="showpSuccessMessage" class="text-success">&#10004; تم تحديث كلمة السر بنجاح!</span>
				<span *ngIf="showpErrorMessage" class="text-danger">&#10008; خطأ في كلمة السر ;</span>
			</div>

			<form class="card-body" [formGroup]="passform">
				<!-- Current password -->
				<div class="mb-3">
					<label class="form-label" for="current">كلمة السر الحالية </label>
					<div class="input-group">
						<input class="form-control fakepassword" placeholder="ادخل كلمة السر الحالية"
							[type]="showPassword ? 'text' : 'password'" id="current" formControlName="current"
							[ngClass]="{'is-invalid': passform.get('current').touched && passform.get('current').invalid}">
						<span class="input-group-text p-0 bg-transparent" (click)="showPassword=!showPassword">
							<i class="fakepasswordicon fas fa-eye-slash cursor-pointer p-2"></i>
						</span>
						<span *ngIf="passform.get('current').hasError('required') && passform.get('current').touched"
							class="invalid-feedback"> كلمة السر يجب ان لا تقل عن 8 حروف </span>
					</div>
				</div>

				<!-- New password -->
				<div class="mb-3">
					<label class="form-label" for="New"> ادخل كلمة السر الجديدة</label>
					<div class="input-group">
						<input class="form-control fakepassword" placeholder="ادخل كلمة السر الجديدة"
							[type]="showPassword ? 'text' : 'password'" id="New" formControlName="New"
							[ngClass]="{'is-invalid': passform.get('New').touched && passform.get('New').invalid}">
						<span class="input-group-text p-0 bg-transparent" (click)="showPassword=!showPassword">
							<i class="fakepasswordicon fas fa-eye-slash cursor-pointer p-2"></i>
						</span>
						<span
							*ngIf="(passform.get('New').hasError('minlength')||passform.get('New').hasError('required')) && passform.get('New').touched"
							class="invalid-feedback"> كلمة السر يجب ان لا تقل عن 8 حروف </span>

					</div>

				</div>
				<!-- Confirm -->

				<div class="mb-3">

					<label class="form-label" for="confirm">تاكيد كلمة السر الجديدة</label>

					<div class="input-group">
						<input class="form-control fakepassword" placeholder="ادخل كلمة السر الجديدة"
							[type]="showPassword ? 'text' : 'password'" id="confirm" formControlName="confirm"
							[ngClass]="{'is-invalid': passform.get('confirm').touched && passform.get('confirm').invalid}">
						<span class="input-group-text p-0 bg-transparent" (click)="showPassword=!showPassword">
							<i class="fakepasswordicon fas fa-eye-slash cursor-pointer p-2"></i>
						</span>
						<span
							*ngIf="(passform.get('confirm').hasError('invid')||passform.get('confirm').hasError('required')) && passform.get('confirm').touched"
							class="invalid-feedback"> كلمة السر غير متطابقة </span>

					</div>
				</div>

				<div class="text-start">
					<a (click)="updatepass()" class="btn btn-primary-soft mb-0">تحديث كلمة السر</a>
				</div>
			</form>

		</div>

	</div>

</div>
