<div class="page-content-wrapper p-xxl-2">

	<!-- Counter START -->

	<!-- Counter END -->

	<div class="row g-4 mb-5">
		<!-- Agent info START -->
		<div class="col-md-4 col-xxl-4">
			<div class="card bg-light">
				<!-- Dropdown button -->
				<div class="dropdown position-absolute top-0 end-0 m-3">
					<a href="#" class="btn btn-sm btn-white btn-round lh-lg mb-0" role="button"
						id="dropdownShare1" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="fa-solid fa-caret-down"></i>
					</a>
					<!-- dropdown button -->
					<ul class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded"
						aria-labelledby="dropdownShare1">
						<li><a class="dropdown-item" href="#"><i
									class="fa-regular fa-pen-to-square"></i>تعديل</a></li>
						<li><a class="dropdown-item" href="#"><i
									class="fa-solid fa-trash"></i>حذف</a></li>
					</ul>
				</div>
				<!-- Card body -->
				<div class="card-body text-center">
					<!-- Avatar Image -->
					<div class="avatar avatar-xl flex-shrink-0 mb-4">
						<img class="avatar-img rounded-circle"
							src="https://images.placeholders.dev/?width=200&height=200"
							alt="avatar">
					</div>
					<!-- Title -->
					<h5 class="mb-2">فاروق أحمد</h5>
					<ul class="list-inline small mb-0">
						<li class="list-inline-item me-0"><i
								class="fa-solid fa-star text-warning"></i></li>
						<li class="list-inline-item me-0"><i
								class="fa-solid fa-star text-warning"></i></li>
						<li class="list-inline-item me-0"><i
								class="fa-solid fa-star text-warning"></i></li>
						<li class="list-inline-item me-0"><i
								class="fa-solid fa-star text-warning"></i></li>
					</ul>
				</div>
				<!-- Card footer -->
				<div class="card-footer bg-light border-top">
					<h6 class="mb-3">بيانات المتصل</h6>
					<!-- Email id -->
					<div class="d-flex align-items-center mb-6">
						<div class="icon-md bg-mode h6 mb-0 rounded-circle flex-shrink-0"><i
								class="fa-regular fa-envelope-open"></i></div>
						<div class="ms-0">
							<small>البريد الإلكترونى</small>
							<h6 class="fw-normal small mb-0"><a href="#">farouk@gmail.com</a></h6>
						</div>
					</div>

					<!-- Phone -->
					<div class="d-flex align-items-center mb-3">
						<div class="icon-md bg-mode h6 mb-0 rounded-circle flex-shrink-0"><i
								class="fa-solid fa-mobile-screen-button"></i></div>
						<div class="ms-2">
							<small>الموبايل</small>
							<h6 class="fw-normal small mb-0"><a href="#">01065232145</a></h6>
						</div>
					</div>

					<!-- Phone -->
					<div class="d-flex align-items-center mb-3">
						<div class="icon-md bg-mode h6 mb-0 rounded-circle flex-shrink-0"><i
								class="fa-solid fa-location-dot"></i></div>
						<div class="ms-2">
							<small>العنوان</small>
							<h6 class="fw-normal small mb-0">55 شارع الصفوه-المنصوره-الدقهلية</h6>
						</div>
					</div>



				</div>
			</div>
		</div>
		<!-- Agent info END -->

		<div class="col-md-8 col-xxl-8">
			<!-- Personal info START -->
			<div class="card shadow">
				<!-- Card header -->
				<div class="card-header border-bottom">
					<h5 class="mb-0">معلومات شخصية</h5>
				</div>
				<!-- Card body -->
				<div class="card-body">
					<div class="row">
						<!-- Information item -->
						<div class="col-md-7">
							<ul class="list-group list-group-borderless">
								<li class="list-group-item mb-3">
									<span>الأسم بالكامل :</span>
									<span class="h6 fw-normal ms-1 mb-0">فاروق احمد</span>
								</li>

								<li class="list-group-item mb-3">
									<span>اسم المستخدم:</span>
									<span class="h6 fw-normal ms-1 mb-0">فاروق</span>
								</li>

								<li class="list-group-item mb-3">
									<span>رقم الموبايل:</span>
									<span class="h6 fw-normal ms-1 mb-0">01020145874</span>
								</li>



								<li class="list-group-item mb-3">
									<span>السجل الضريبى</span>
									<span class="h6 fw-normal ms-1 mb-0">55241722</span>
								</li>
							</ul>
						</div>

						<!-- Information item -->
						<div class="col-md-6">
							<ul class="list-group list-group-borderless">
								<li class="list-group-item mb-3">
									<span class="h6 fw-normal ms-1 mb-0">farouk@gmail.com</span>
									<span>البريد الإلكترونى</span>

								</li>

								<li class="list-group-item mb-3">
									<span>الجنس:</span>
									<span class="h6 fw-normal ms-1 mb-0">ذكر</span>
								</li>

								<li class="list-group-item mb-3">
									<span>العنوان</span>
									<span class="h6 fw-normal ms-1 mb-0">55 شارع
										الصفوه-المنصوره-الدقهلية
									</span>
								</li>

								<li class="list-group-item mb-3">
									<span>تاريخ الإنضمام:</span>
									<span class="h6 fw-normal ms-1 mb-0">14 يناير 2023</span>
								</li>
							</ul>
						</div>

						<!-- Information item -->
						<div class="col-12">
							<ul class="list-group list-group-borderless">
								<li class="list-group-item">
									<span>وصف </span>
									<p class="h6 fw-normal mb-0">الوصف</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- Personal info END -->
		</div>
	</div> <!-- Row END -->

	<!-- prod list START -->
	<div class="row g-4">
		<!-- Title -->
		<div class="col-12">
			<h4 class="mb-0">قائمة الخدمات والمنتجات</h4>
		</div>

		<!-- prod item -->
		<div class="col-lg-6">
			<div class="card shadow p-3">
				<div class="row g-4">
					<!-- Card img -->
					<div class="col-sm-3">
						<img src="../assets/images/b1.jpg" class="rounded-2" alt="Card image">
					</div>

					<!-- Card body -->
					<div class="col-sm-9">
						<div class="card-body position-relative d-flex flex-column p-0 h-100">

							<!-- Buttons -->
							<div class="list-inline-item dropdown position-absolute top-0 end-0">
								<!-- Share button -->
								<a href="#" class="btn btn-sm btn-round btn-light" role="button"
									id="dropdownAction1" data-bs-toggle="dropdown"
									aria-expanded="false">
									<i class="fa-regular fa-caret-down"></i>
								</a>
								<!-- dropdown button -->
								<ul class="dropdown-menu dropdown-menu-end min-w-auto shadow rounded"
									aria-labelledby="dropdownAction1">
									<li><a class="dropdown-item" href="#"><i
												class="fa-solid fa-exclamation"></i>تقرير</a></li>
									<li><a class="dropdown-item" href="#"><i
												class="fa-solid fa-clock-rotate-left"></i>تعطيل</a>
									</li>
								</ul>
							</div>

							<!-- Title -->
							<h5 class="card-title mb-0 me-5">اسم المنتج /الخدمة</h5>
							<small><i class="fa-solid fa-map-location"></i> عنوان المحل أو مقدم
								الخدمة</small>

							<!-- Price and Button -->
							<div
								class="d-flex justify-content-between align-items-center mt-3 mt-md-auto">
								<!-- Price -->
								<div class="d-flex align-items-center">
									<h5 class="fw-bold mb-0 me-1">$200</h5>
								</div>
								<!-- Button -->
								<a href="#" class="btn btn-sm btn-primary px-2 mb-0"><i
										class="fa-solid fa-eye"></i>عرض</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- prod item -->
		<div class="col-lg-6">
			<div class="card shadow p-3">
				<div class="row g-4">
					<!-- Card img -->
					<div class="col-sm-3">
						<img src="../assets/images/b2.jpg" class="rounded-2" alt="Card image">
					</div>

					<!-- Card body -->
					<div class="col-sm-9">
						<div class="card-body position-relative d-flex flex-column p-0 h-100">

							<!-- Buttons -->
							<div class="list-inline-item dropdown position-absolute top-0 end-0">
								<!-- Share button -->
								<a href="#" class="btn btn-sm btn-round btn-light" role="button"
									id="dropdownAction2" data-bs-toggle="dropdown"
									aria-expanded="false">
									<i class="fa-regular fa-caret-down"></i> </a>
								<!-- dropdown button -->
								<ul class="dropdown-menu dropdown-menu-end min-w-auto shadow rounded"
									aria-labelledby="dropdownAction2">
									<li><a class="dropdown-item" href="#"><i
												class="fa-solid fa-exclamation"></i>تقرير</a></li>
									<li><a class="dropdown-item" href="#"><i
												class="fa-solid fa-clock-rotate-left"></i>تعطيل</a>
									</li>
								</ul>
							</div>

							<!-- Title -->
							<h5 class="card-title mb-0 me-5"> أسم المنتج/الخدمة</h5>
							<small><i class="fa-solid fa-map-location"></i>عنوان المحل/مقدم
								الخدمة</small>

							<!-- Price and Button -->
							<div
								class="d-flex justify-content-between align-items-center mt-3 mt-md-auto">
								<!-- Price -->
								<div class="d-flex align-items-center">
									<h5 class="fw-bold mb-0 me-1">$250</h5>
								</div>
								<!-- Button -->
								<a href="#" class="btn btn-sm btn-primary px-2 mb-0"><i
										class="fa-solid fa-eye"></i>عرض</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- prod item -->
		<div class="col-lg-6">
			<div class="card shadow p-3">
				<div class="row g-4">
					<!-- Card img -->
					<div class="col-sm-3">
						<img src="../assets/images/images.jpg" class="rounded-2" alt="Card image">
					</div>

					<!-- Card body -->
					<div class="col-sm-9">
						<div class="card-body position-relative d-flex flex-column p-0 h-100">

							<!-- Buttons -->
							<div class="list-inline-item dropdown position-absolute top-0 end-0">
								<!-- Share button -->
								<a href="#" class="btn btn-sm btn-round btn-light" role="button"
									id="dropdownAction3" data-bs-toggle="dropdown"
									aria-expanded="false">
									<i class="fa-regular fa-caret-down"></i> </a>
								<!-- dropdown button -->
								<ul class="dropdown-menu dropdown-menu-end min-w-auto shadow rounded"
									aria-labelledby="dropdownAction3">
									<li><a class="dropdown-item" href="#"><i
												class="fa-solid fa-exclamation"></i>تقرير</a></li>
									<li><a class="dropdown-item" href="#"><i
												class="fa-solid fa-clock-rotate-left"></i>تعطيل</a>
									</li>
								</ul>
							</div>

							<!-- Title -->
							<h5 class="card-title mb-0 me-5">أسم المنتج/الخدمة</h5>
							<p><i class="fa-solid fa-map-location"></i>عنوان المحل/مقدم الخدمة</p>

							<!-- Price and Button -->
							<div
								class="d-flex justify-content-between align-items-center mt-3 mt-md-auto">
								<!-- Price -->
								<div class="d-flex align-items-center">
									<h5 class="fw-bold mb-0 me-1">$350</h5>
								</div>
								<!-- Button -->
								<a href="#" class="btn btn-sm btn-primary px-2 mb-0"><i
										class="fa-solid fa-eye"></i>عرض</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="col-lg-6">
			<div class="card shadow p-3">
				<div class="row g-4">
					<!-- Card img -->
					<div class="col-sm-3">
						<img src="../assets/images/s2.jpg" class="rounded-2" alt="Card image">
					</div>

					<!-- Card body -->
					<div class="col-sm-9">
						<div class="card-body position-relative d-flex flex-column p-0 h-100">

							<!-- Buttons -->
							<div class="list-inline-item dropdown position-absolute top-0 end-0">
								<!-- Share button -->
								<a href="#" class="btn btn-sm btn-round btn-light" role="button"
									id="dropdownAction3" data-bs-toggle="dropdown"
									aria-expanded="false">
									<i class="fa-regular fa-caret-down"></i> </a>
								<!-- dropdown button -->
								<ul class="dropdown-menu dropdown-menu-end min-w-auto shadow rounded"
									aria-labelledby="dropdownAction3">
									<li><a class="dropdown-item" href="#"><i
												class="fa-solid fa-exclamation"></i>تقرير</a></li>
									<li><a class="dropdown-item" href="#"><i
												class="fa-solid fa-clock-rotate-left"></i>تعطيل</a>
									</li>
								</ul>
							</div>

							<!-- Title -->
							<h5 class="card-title mb-0 me-5">أسم المنتج/الخدمة</h5>
							<small><i class="fa-solid fa-map-location"></i>عنوان الحل/مقدم
								الخدمة</small>

							<!-- Price and Button -->
							<div
								class="d-flex justify-content-between align-items-center mt-3 mt-md-auto">
								<!-- Price -->
								<div class="d-flex align-items-center">
									<h5 class="fw-bold mb-0 me-1">$400</h5>
								</div>
								<!-- Button -->
								<a href="#" class="btn btn-sm btn-primary px-2 mb-0"><i
										class="fa-solid fa-eye"></i>عرض</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>





	</div>
</div>
2
