<div class="col-lg-10 fs">
	<div class="page-content mb-5 m-0">
		<div class="flex-grow">
			<div class="container mt-2">

				<form class="" [formGroup]="AddServiceForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">

					<div class="d-flex justify-content-between align-items-center mb-4">
						<h3>إضافة خدمة جديدة</h3>
						<button class="btn btn-primary-soft">إضافة</button>
					</div>

					<div class="d-flex flex-column justify-content-center">

						<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="error">
							<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
							يمكنك ان تضيف الي 5 صورة فقط
						</div>

						<div class="mb-3">
							<label class="form-label fs-5" for="name">الخدمة</label>
							<input class="form-control" id="name" type="text" formControlName="name"
								[ngClass]="{ 'is-invalid': '' && AddServiceForm.controls['name'].errors }">
							<div class="invalid-feedback" *ngIf="AddServiceForm.controls['name']?.errors['required']">
								اسم الخدمة غير صالح
							</div>
						</div>

						<div class="mb-3">
							<label class="form-label fs-5" for="salary">السعر المتوقع</label>
							<input class="form-control" type="number" id="salary" formControlName="salary">
							<div class="invalid-feedback">
								السعر غير صالح
							</div>
						</div>

						<div class="mb-3">
							<label class="form-label fs-5" for="desc">وصف الخدمة</label>
							<textarea class="form-control textarea" id="desc" cols="30" rows="5" autoresize="none"
								formControlName="description"></textarea>
							<div class="invalid-feedback">
								الوصف غير صالح
							</div>
						</div>

						<div class="mb-3">
							<label for="formImages" class="form-label">صور</label>
							<input class="form-control" type="file" id="formImages" accept="image/*" multiple
								(change)="onImagesChange($event)" formControlName="images">
							<small>يمكنك ان تضيف حتي 5 صورة</small>
							<div class="invalid-feedback">
								يجب ان تختار صورة واحدة علي الأقل او حتي 5 صورة
							</div>
						</div>

						<div *ngIf="uploadedImages.length != 0">
							<div class="d-flex flex-row align-items-start flex-wrap">
								<div class="ms-2 d-flex flex-column" *ngFor="let image of uploadedImages">
									<img [src]="image" class="img-thumbnail " alt=""
										style="width: 100px; height: 100px;">
									<button class="btn btn-danger-soft btn-sm"
										(click)="removeImage(image)">remove</button>
								</div>
							</div>
						</div>

					</div>

				</form>


			</div>
		</div>
	</div>
</div>