<h4 class="mb-3">الطلبات</h4>

<div class="card border-0 bg-transparent">

	<div class="card-body p-0">

		<div class="tab-content p-2 p-sm-4" id="nav-tabContent">

			<div class="tab-pane fade active show" id="tab-1" role="tabpanel">

				<!-- Request Item -->
				<div class="card border mb-4">
					<div class="card-header border-bottom d-md-flex justify-content-md-between align-items-center">
						<!-- Icon and Title -->
						<div class="d-flex align-items-center gap-4">
							<div class="icon-lg bg-light rounded-circle flex-shrink-0">
								<img src="https://images.placeholders.dev/?width=200&height=200" alt=""
									class="rounded-circle">
							</div>
							<!-- Title -->
							<div class="ms-2">
								<h6 class="card-title mb-0">اسم الطلب</h6>
								<ul class="nav nav-divider small p-0 mt-2">
									<li class="nav-item">
										<p class="fs-6 m-0">احمد محمد</p>
									</li>
								</ul>
							</div>
						</div>

						<!-- Button -->
						<div class="mt-2 mt-md-0 d-flex flex-row gap-2">
							<a href="#" [routerLink]="['/edit-offer','CGDSUAHA12548']"
								class="btn btn-danger-soft mb-0">رفض</a>
							<a href="#" [routerLink]="['/edit-offer','CGDSUAHA12548']"
								class="btn btn-primary-soft mb-0">قبول</a>
						</div>
					</div>
					<div class="card-body">
						<div class="card-body">
							<div class="row g-3 bg-light rounded p-2 m-0">
								<div class="col-md-4  d-flex flex-row gap-4 p-0 m-0">
									<span>المبلغ</span>
									<h6 class="mb-0">$125</h6>
								</div>
								<div class="col-md-4 d-flex flex-row gap-4 p-0 m-0">
									<span>مدة التنفيذ</span>
									<h6 class="mb-0">3 أيام</h6>
								</div>
							</div>
							<div class="mt-3">
								<p class="text-dark fs-5">
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni voluptas modi nam
									unde molestiae
									ut, exercitationem mollitia inventore repellat saepe rerum deserunt eligendi
									excepturi alias
									amet! Hic labore inventore, nobis, perspiciatis dignissimos numquam enim, provident
									nisi dolore
									nemo delectus distinctio? Reiciendis non, libero repellendus, officia placeat enim
									fugiat ut
									maxime eveniet eos est nesciunt dolor molestiae.
								</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Request Item -->
				<div class="card border mb-4">
					<div class="card-header border-bottom d-md-flex justify-content-md-between align-items-center">
						<!-- Icon and Title -->
						<div class="d-flex align-items-center gap-4">
							<div class="icon-lg bg-light rounded-circle flex-shrink-0">
								<img src="https://images.placeholders.dev/?width=200&height=200" alt=""
									class="rounded-circle">
							</div>
							<!-- Title -->
							<div class="ms-2">
								<h6 class="card-title mb-0">اسم الطلب</h6>
								<ul class="nav nav-divider small p-0 mt-2">
									<li class="nav-item">
										<p class="fs-6 m-0">احمد محمد</p>
									</li>
								</ul>
							</div>
						</div>

						<!-- Button -->
						<div class="mt-2 mt-md-0 d-flex flex-row gap-2">
							<a href="#" [routerLink]="['/edit-offer','CGDSUAHA12548']"
								class="btn btn-danger-soft mb-0">رفض</a>
							<a href="#" [routerLink]="['/edit-offer','CGDSUAHA12548']"
								class="btn btn-primary-soft mb-0">قبول</a>
						</div>
					</div>
					<div class="card-body">
						<div class="card-body">
							<div class="row g-3 bg-light rounded p-2 m-0">
								<div class="col-md-4  d-flex flex-row gap-4 p-0 m-0">
									<span>المبلغ</span>
									<h6 class="mb-0">$125</h6>
								</div>
								<div class="col-md-4 d-flex flex-row gap-4 p-0 m-0">
									<span>مدة التنفيذ</span>
									<h6 class="mb-0">3 أيام</h6>
								</div>
							</div>
							<div class="mt-3">
								<p class="text-dark fs-5">
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni voluptas modi nam
									unde molestiae
									ut, exercitationem mollitia inventore repellat saepe rerum deserunt eligendi
									excepturi alias
									amet! Hic labore inventore, nobis, perspiciatis dignissimos numquam enim, provident
									nisi dolore
									nemo delectus distinctio? Reiciendis non, libero repellendus, officia placeat enim
									fugiat ut
									maxime eveniet eos est nesciunt dolor molestiae.
								</p>
							</div>
						</div>
					</div>
				</div>


			</div>

		</div>

	</div>
</div>