<div class="row mb-0">
	<div class="col-md-12">
		<div class="d-md-flex justify-content-between align-items-center">
			<div>
				<h2>الطلبات</h2>
				<!-- breacrumb -->
			
			</div>
		</div>
	</div>
</div>

<div class="row ">
	<div class="col-xl-12 col-12 mb-5">
		<div class="card h-100 card-lg">

			<div class="p-6">
				<div class="row justify-content-between">
					<div class="col-md-4  mb-2 ">
						<form class="d-flex" role="search">
							<input class="form-control" type="search" placeholder="Search " aria-label="Search">

						</form>
					</div>
					<div class="col-lg-2 col-md-4 ">
						<select class="form-select form-control " tabindex="-1">
							<option value="">الحالة</option>
							<option value="">تمت بنجاح</option>
							<option value="">انتظار</option>
							<option value="">الغاء</option>
						</select>
					</div>

				</div>
			</div>
			<div class="card-body p-3 ">

				<div class="table-responsive">
		<table class="table table-centered table-hover table-borderless mb-0 table-with-checkbox text-nowrap">
			<thead class="bg-light">
				<tr>
					<th>كود الطلب</th>
					<th>عدد المنتجات</th>
					<th>التاريخ والوقت</th>
					<th>العنوان</th>
					<!-- <th>الدفع</th> -->
					<th>السعر النهائي</th>
					<th> تفاصيل الطلب</th>
					
				</tr>
			</thead>
			<tbody >
				<tr *ngIf="DataList.length==0">لا يوجد عمليات شراء الي الان</tr>
				<tr *ngFor="let order of DataList" >
				<!-- <td *ngFor="let ordercustomer of order.orderItems">
					<img [src]="ordercustomer" style="width: 50px;" class="rounded-circle bg-danger " alt=""></td>
				<td>{{order.productName}}</td> -->
				<td>{{order.id}}</td>

				<td>{{order.totalAmount}}</td>
		
				<td>{{order.createAt.slice(0,7)}}</td>
				<td>{{order.address.slice(0,10)}} <br> {{order.governorate}} <br>{{order.city }}</td>
				<td>{{order.totalPrice}}</td>
				<td><a class="btn btn-outline-primary" [routerLink]="['/orderDetails:',order.id]">
					<i class="fa-duotone fa-eye" style="--fa-primary-color: #0a57db; --fa-secondary-color: #0a57db;"></i>
					رؤية التفاصيل 
				</a></td>
				</tr>

			</tbody>
		</table>

	</div>

	<section class="number-icon mt-3">
		<nav aria-label="Page navigation example " class="text-center">
			<pagination-controls (pageChange)="p=$event"></pagination-controls>
		</nav>
	</section>
			</div>

		</div>

	</div>
</div>	
