.searvices-intro-card {
	background-image: url('/assets/images/pablita-man-standing-near-laptop-with-a-hand-holding-job-offer.png');
	background-repeat: no-repeat;
	background-position: left;
	background-size: contain;
}

