<div class="col-lg-10 fs">
	<div class="page-content mb-5 m-0">
		<div class="flex-grow">
			<div class="container mt-2">

				<div class="mb-4">
					<h3 class="">أطلب خدمة</h3>
				</div>

				<form [formGroup]="AddRequestForm" (ngSubmit)="submitForm()">

					<div class="card border-0" *ngIf="step==1">

						<div class="card-header">
							<div class="d-flex justify-content-between align-items-center">
								<p href="#" class="fs-5 fw-medium text-inherit mb-0 d-flex align-items-center gap-3">
									<i class="fa-duotone fa-file-pen"></i>
									تفاصيل الخدمة
								</p>

								<button class="btn btn-primary-soft" (click)="step=step+1">التالي</button>
							</div>
						</div>

						<div class="card-body">

							<div class="mb-3">
								<label for="Title" class="form-label fs-5">اسم الخدمة</label>
								<input type="text" class="form-control" id="Title" name="Title" formControlName="Title">
							</div>

							<div class="mb-3">
								<label for="Category" class="form-label fs-5">
									نوع الخدمة
								</label>
								<select class="form-select" name="Category" id="Category" aria-label="نوع الخدمة"
									formControlName="Category">
									<option selected>-اختر-</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select>
							</div>

							<div class="mt-3">
								<label class="form-label fs-5" for="Details">وصف الخدمة</label>
								<textarea rows="3" placeholder="تفاصبل الخدمة" class="form-control" id="Details"
									name="Details" formControlName="Details"></textarea>
							</div>

						</div>

					</div>

					<div class="card border-0" *ngIf="step==2">

						<div class="card-header">
							<div class="d-flex justify-content-between align-items-center">
								<p href="#" class="fs-5 fw-medium text-inherit mb-0 d-flex align-items-center gap-3">
									<i class="fa-duotone fa-sack-dollar"></i>
									الميزانية والمدة
								</p>

								<div class="d-flex gap-3">
									<button class="btn btn-secondary-soft" (click)="step=step-1">السابق</button>
									<button class="btn btn-primary-soft" (click)="step=step+1">التالي</button>
								</div>
							</div>
						</div>

						<div class="card-body">

							<div class="mb-3">
								<label for="ExpectedSalary" class="form-label fs-5">الميزانية المتوقعة</label>
								<input type="number" class="form-control" id="ExpectedSalary" name="ExpectedSalary"
									formControlName="ExpectedSalary">
							</div>

							<div class="mb-3">
								<label for="EndDate" class="form-label fs-5"> المدة المتوقعة للتسليم</label>
								<input type="datetime-local" class="form-control" id="EndDate" name="EndDate"
									formControlName="EndDate">
							</div>

						</div>

					</div>

					<div class="card border-0" *ngIf="step==3">

						<div class="card-header">
							<div class="d-flex justify-content-between align-items-center">
								<p href="#" class="fs-5 fw-medium text-inherit mb-0 d-flex align-items-center gap-3">
									<i class="fa-duotone fa-location-dot"></i>
									العنوان
								</p>

								<div class="d-flex gap-3">
									<button class="btn btn-secondary-soft" (click)="step=step-1">السابق</button>
									<button class="btn btn-primary-soft" (click)="step=step+1">التالي</button>
								</div>
							</div>
						</div>

						<div class="card-body">

							<div class="mb-3">
								<label for="Governorate" class="form-label fs-5">المحافظة</label>
								<select class="form-select" id="Governorate" name="Governorate"
									formControlName="Governorate">
									<option selected>-اختر-</option>
									<option value="1">القاهرة</option>
									<option value="2">الاقصر</option>
									<option value="3">اسوان</option>
								</select>
							</div>

							<div class="mb-3">
								<label for="City" class="form-label fs-5">المركز</label>
								<select class="form-select" id="City" name="City" formControlName="City">
									<option selected>-اختر-</option>
									<option value="1">السيل</option>
									<option value="2">التامين</option>
								</select>
							</div>

							<div class="mb-3">
								<label for="Address" class="form-label"> العنوان بالتفصيل</label>
								<input type="email" class="form-control" id="Address" name="Address"
									formControlName="Address">
							</div>

						</div>

					</div>

					<div class="card border-0" *ngIf="step==4">

						<div class="card-header">
							<div class="d-flex justify-content-between align-items-center">
								<p href="#" class="fs-5 fw-medium text-inherit mb-0 d-flex align-items-center gap-3">
									<i class="fa-duotone fa-photo-film"></i>
									اضف بعض المرفقات
								</p>

								<div class="d-flex gap-3">
									<button class="btn btn-secondary-soft" (click)="step=step-1">السابق</button>
									<button class="btn btn-primary-soft">نشر</button>
								</div>
							</div>
						</div>

						<div class="card-body">

							<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="error">
								<button type="button" class="btn-close" data-bs-dismiss="alert"
									aria-label="Close"></button>
								يمكنك ان تضيف الي 5 صورة فقط
							</div>

							<div class="mb-3">
								<label for="Images" class="form-label">صور</label>
								<input class="form-control" type="file" id="Images" name="Images" accept="image/*"
									multiple (change)="onImagesSelected($event)" formControlName="Images" #imageInput>
								<small>يمكنك ان تضيف الي 5 صورة</small>
							</div>

							<!-- Images preview -->
							<div *ngIf="AddRequestForm.get('Images')?.value">
								<div class="d-flex flex-row align-items-start flex-wrap">
									<div class="ms-2 d-flex flex-column"
										*ngFor="let image of AddRequestForm.get('Images')?.value">
										<img [src]="getImageUrl(image)" class="img-thumbnail " alt=""
											style="width: 100px; height: 100px;">
										<button class="btn btn-danger-soft btn-sm"
											(click)="removeImage(image)">remove</button>
									</div>
								</div>
							</div>

							<div class="mb-3">
								<label for="Video" class="form-label">فيديو</label>
								<input class="form-control" type="file" id="Video" name="Video" accept="video/*"
									multiple (change)="onVideoSelected($event)" formControlName="Video" #VideoInput>
								<small>يمكنك ان تضيف فيديو واحد لا يتعدي الدقيقتين</small>
							</div>

							<!-- Video preview -->
							<button *ngIf="this.selectedVideo" (click)="clearVideo()">Clear Video</button>
							<video *ngIf="this.selectedVideo" controls>
								<source [src]="getVideoUrl()" type="video/mp4">
							</video>

						</div>

					</div>

				</form>

			</div>
		</div>
	</div>
</div>
