<header class="navbar-light header-sticky">
	<nav class="navbar navbar-expand-xl">
		<div class="container-fluid px-5">
			<!-- Logo -->
			<a class="navbar-brand" href="./index.html">
				<img class="light-mode-item navbar-brand-item" src="./assets/images/logo.png" alt="logo">
				<img class="dark-mode-item navbar-brand-item" src="./assets/images/logo.png" alt="logo">
			</a>

			<!-- Main navbar -->
			<div class="navbar-collapse collapse" id="navbarCollapse">
				<ul class="navbar-nav navbar-nav-scroll nav-pills-primary-soft ms-auto">

					<!-- Nav item - Home -->
					<li class="nav-item">
						<a class="nav-link flex-nowrap" [routerLink]="['/home']" routerLinkActive="active">
							<i class="fa-duotone fa-house-chimney"></i> الرئيسية
						</a>
					</li>

					<!-- Nav item - Requests -->
					<li class="nav-item" *ngIf="isUserLoggedInServiceProvider">
						<a class="nav-link flex-nowrap" [routerLink]="['/requests']" routerLinkActive="active">
							<i class="fa-duotone fa-sparkles"></i> الطلبات
						</a>
					</li>

					<!-- Nav item Store -->
					<li class="nav-item ">
						<a class="nav-link flex-nowrap" [routerLink]="['/shop']" routerLinkActive="active">
							<i class="fa-duotone fa-store"></i> المتجر
						</a>
					</li>

					<!-- Nav item Services Providers -->
					<li class="nav-item ">
						<a class="nav-link flex-nowrap" [routerLink]="['/servicesProviders']" routerLinkActive="active">
							<i class="fa-duotone fa-users"></i> مقدمي الخدمات
						</a>
					</li>

					<!-- Nav item more-->
					<li class="nav-item ">
						<div class="dropdown">
							<a class="nav-link" href="#" data-bs-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false" title="more">
								<i class="fas fa-ellipsis-h"></i>
							</a>
							<ul class="dropdown-menu min-w-auto dropdown-menu-end">
								<li *ngIf="isloggedIn">
									<a class="dropdown-item" [routerLink]="['/admin/dashboard']" target="_blank"
										*ngIf="user.role && user.role.includes('Admin')">
										<i class="fa-duotone fa-headset"></i>
										لوحة التحكم
									</a>
								</li>
								<li>
									<a class="dropdown-item" href="docs/index.html" target="_blank">
										<i class="fa-duotone fa-circle-info"></i>
										معلومات عنا
									</a>
								</li>
								<li>
									<a class="dropdown-item" href="#" target="_blank">
										<i class="fa-duotone fa-messages"></i>
										اتصل بنا
									</a>
								</li>
							</ul>
						</div>
					</li>

					<li *ngIf="!isloggedIn">
						<div class="d-flex d-md-none flex-nowrap login-register">
							<a class="nav-link flex-nowrap" [routerLink]="['/auth/login']">
								<i class="fa-duotone fa-arrow-right-to-bracket me-2"></i>
								Login
							</a>
							<a class="nav-link flex-nowrap" [routerLink]="['/auth/register']">
								<i class="fa-duotone fa-user-plus me-2"></i>
								Register
							</a>
						</div>
					</li>
				</ul>
			</div>

			<!-- Search -->
			<app-nav-search></app-nav-search>

			<!-- Profile and Notification -->
			<ul class="nav flex-row align-items-center list-unstyled ms-xl-auto gap-2">

				<!-- show/hide menu button -->
				<li class="nav-item d-flex">
					<div class="navbar-nav nav-pills-primary-soft flex-row gap-2 d-md-flex d-none" *ngIf="!isloggedIn">
						<a class="nav-link btn-primary-soft d-flex flex-nowrap" [routerLink]="['/auth/login']">
							<i class="fa-duotone fa-arrow-right-to-bracket me-2"></i>
							Login
						</a>
						<a class="nav-link btn-primary-soft d-flex flex-nowrap" [routerLink]="['/auth/register']">
							<i class="fa-duotone fa-user-plus me-2"></i>
							Register
						</a>
					</div>

					<button class="navbar-toggler ms-auto ms-sm-0 p-0 p-sm-2" type="button" data-bs-toggle="collapse"
						data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-animation">
							<span></span>
							<span></span>
							<span></span>
						</span>
						<!-- <span class="d-none d-sm-inline-block small">Menu</span> -->
					</button>

				</li>

				<!-- Notification dropdown START -->
				<li class="nav-item dropdown" *ngIf="user">
					<app-notification></app-notification>
				</li>

				<!-- Profile dropdown -->
				<li class="nav-item dropdown" *ngIf="user">
					<app-user-dropdown></app-user-dropdown>
				</li>

			</ul>

			<!-- Login & Register -->
			<!-- <ul class="navbar-nav nav-pills-primary-soft text-center me-auto d-none d-sm-flex"
				*ngIf="!user">
				<li class="nav-item">
					<a class="nav-link btn-primary-soft d-flex flex-nowrap" [routerLink]="['/auth/login']">
						<i class="fa-duotone fa-arrow-right-to-bracket"></i>Login</a>
				</li>

				<li class="nav-item">
					<a class="nav-link btn-primary-soft d-flex flex-nowrap" [routerLink]="['/auth/register']">
						<i class="fa-duotone fa-user-plus"></i>Register</a>
				</li>
			</ul> -->

		</div>
	</nav>
</header>
