<header class="navbar-light header-sticky">
	<nav class="navbar navbar-expand-xl">
		<div class="container-fluid px-5">
			<!-- Logo -->
			<a class="navbar-brand" href="./index.html">
				<img class="light-mode-item navbar-brand-item" src="./assets/images/logo.png" alt="logo">
				<img class="dark-mode-item navbar-brand-item" src="./assets/images/logo.png" alt="logo">
			</a>

			<!-- Main navbar -->
			<div class="navbar-collapse collapse" id="navbarCollapse">
				<ul class="navbar-nav navbar-nav-scroll nav-pills-primary-soft ms-auto">

					<!-- Nav item - Home -->
					<li class="nav-item">
						<a class="nav-link" [routerLink]="['']" routerLinkActive="active">
							<i class="fa-duotone fa-house-chimney"></i> الرئيسية
						</a>
					</li>

					<!-- Nav item - Services -->
					<li class="nav-item">
						<a class="nav-link" [routerLink]="['/services']" routerLinkActive="active">
							<i class="fa-duotone fa-sparkles"></i> الخدمات
						</a>
					</li>

					<!-- Nav item Store -->
					<li class="nav-item ">
						<a class="nav-link" [routerLink]="['shop']" routerLinkActive="active">
							<i class="fa-duotone fa-store"></i> المتجر
						</a>
					</li>

					<!-- Nav item Vendors -->
					<li class="nav-item ">
						<a class="nav-link" [routerLink]="['/services-providese']" routerLinkActive="active">
							<i class="fa-duotone fa-users"></i> مقدمي الخدمات
						</a>
					</li>

					<!-- Nav item more-->
					<li class="nav-item ">
						<div class="dropdown">
							<a class="nav-link" href="#" data-bs-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false" title="more">
								<i class="fas fa-ellipsis-h"></i>
							</a>
							<ul class="dropdown-menu min-w-auto dropdown-menu-end">
								<li>
									<a class="dropdown-item" href="#" target="_blank">
										<i class="fa-duotone fa-headset"></i>
										الدعم الفني
									</a>
								</li>
								<li>
									<a class="dropdown-item" href="docs/index.html" target="_blank">
										<i class="fa-duotone fa-circle-info"></i>
										معلومات عنا
									</a>
								</li>
								<li>
									<a class="dropdown-item" href="#" target="_blank">
										<i class="fa-duotone fa-messages"></i>
										اتصل بنا
									</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>

			<!-- Search -->
			<app-nav-search class="w-25"></app-nav-search>

			<!-- Profile and Notification -->
			<ul class="nav flex-row align-items-center list-unstyled ms-xl-auto gap-2">

				<!-- show/hide menu button -->
				<li class="nav-item">
					<button class="navbar-toggler ms-auto ms-sm-0 p-0 p-sm-2" type="button" data-bs-toggle="collapse"
						data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-animation">
							<span></span>
							<span></span>
							<span></span>
						</span>
						<!-- <span class="d-none d-sm-inline-block small">Menu</span> -->
					</button>
				</li>
				<!-- Notification dropdown START -->
				<li class="nav-item dropdown">
					<app-notification></app-notification>
				</li>

				<!-- Profile dropdown -->
				<li class="nav-item dropdown">
					<app-user-dropdown></app-user-dropdown>
				</li>

			</ul>

		</div>
	</nav>
</header>