<div class="row mb-4">

	<div class="col-9 col-md-9 col-sm-12">

		<!-- Intro & Search -->
		<div class="searvices-intro-card w-100">

			<div class="card searvices-intro-card-title bg-primary-soft p-4">
				<div class="card-header bg-transparent border-0 p-0 col-8 col-sm-12">
					<p class="fs-4">طلبات يمكنك تنفيذها</p>
					<p class="fs-6">هنا ستجد الخدمات التي يطلبها المستخدمون</p>
				</div>
				<div class="card-body border-0 p-0 col-8 col-sm-12">
					<div class="d-flex flex-row gap-3 align-items-center">
						<button class="btn btn-primary-soft col-4">ابحث</button>
						<input class="form-control col" ype="search" name="searchService" id="searchService"
							title="searchSer">
					</div>
				</div>
			</div>

		</div>

		<!-- Filter small screen -->
		<div class="d-block d-md-none pt-4">

			<div class="card p-3">
				<div class="d-flex flex-column gap-3">

					<div class="d-flex flex-row justify-content-between align-items-baseline">

						<p class="fs-4 fw-bold ">فلتر</p>

						<div class="d-flex gap-3">
							<button class="btn btn-danger-soft">مسح</button>
							<button class="btn btn-primary-soft" data-bs-toggle="collapse" data-bs-target="#collapseOne"
								aria-expanded="true" aria-controls="collapseOne" title="collapse">
								<i class="fa-duotone fa-angles-down"></i>
							</button>
						</div>

					</div>

					<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
						data-bs-parent="#accordionExample">
						<div class="d-flex flex-column justify-content-around accordion-item">
							<div class="row">
								<div class="col">
									<p>الموقع</p>
									<div class="d-flex flex-column gap-2">
										<div class="mb-3">
											<label for="Governorate" class="form-label">المحافظة</label>
											<select class="form-select" id="Governorate" name="Governorate"
												formControlName="Governorate" (change)="getCities($event)">
												<option selected disabled>-اختر-</option>
												<option *ngFor="let item of GovernoratesList" [value]="item.id">
													{{item.nameAr}}
												</option>
											</select>
										</div>

										<div class="mb-3">
											<label for="City" class="form-label">المركز</label>
											<select class="form-select" id="City" name="City" formControlName="City">
												<option selected disabled>-اختر-</option>
												<option *ngFor="let item of CitiesList" [value]="item.id">
													{{item.nameAr}}
												</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col">
									<p>التصنيف</p>
									<div>
										<select class="form-select" name="Category" id="Category" aria-label="التصنيف"
											formControlName="Category">
											<option selected>-اختر-</option>
											<option *ngFor="let item of CategoriesList" [value]="item.id">
												{{item.nameAr}}
											</option>
										</select>
									</div>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col">
									<p>تقييم العملاء</p>
									<ul class="d-flex flex-row flex-wrap gap-1 list-unstyled m-0 p-0">
										<li class="list-item">
											<input type="checkbox" class="btn-check" id="btn-check-9">
											<label class="btn btn-primary-soft btn-primary-soft-check btn-sm"
												for="btn-check-9">
												3+
											</label>
										</li>
										<li class="list-item">
											<input type="checkbox" class="btn-check" id="btn-check-10">
											<label class="btn btn-primary-soft btn-primary-soft-check btn-sm"
												for="btn-check-10">
												3.5+
											</label>
										</li>
										<li class="list-item">
											<input type="checkbox" class="btn-check" id="btn-check-11">
											<label class="btn btn-primary-soft btn-primary-soft-check btn-sm"
												for="btn-check-11">
												4+
											</label>
										</li>
										<li class="list-item">
											<input type="checkbox" class="btn-check" id="btn-check-12">
											<label class="btn btn-primary-soft btn-primary-soft-check btn-sm"
												for="btn-check-12">
												4.5+
											</label>
										</li>
									</ul>
								</div>
								<div class="col">
									<p>السعر</p>
									<div class="d-flex flex-column gap-2">
										<div class="row g-0 align-items-center">
											<label class="col-3" for="priceFrom1">من</label>
											<input type="number" name="priceFrom1" id="priceFrom1" value="0"
												class="col form-control form-control-sm">
										</div>
										<div class="row g-0 align-items-center">
											<label class="col-3" for="priceTo2">حتي</label>
											<input type="number" name="priceTo2" id="priceTo2" value="0"
												class="col form-control form-control-sm">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>

		<!-- Requests -->
		<div class="d-flex flex-column pt-4 pb-sm-8 pb-md-3 gap-4">

			<!-- Requests -->
			<div class="card"
				*ngFor="let item of usersRequestsList | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalRequestItems }">

				<div class="card-header border-0 p-3">

					<div class="d-flex justify-content-between align-items-center">
						<h5 class="card-title">
							<a [routerLink]="['/requestDetails', item.id]">
								{{item.title}}
							</a>
						</h5>
						<a class="btn btn-primary-soft" [routerLink]="['/sendOffer/', item.id]">ارسال عرض</a>
					</div>

					<ul class="nav nav-divider p-0">
						<li class="nav-item d-flex flex-row align-items-center gap-2">
							<i class="fa-duotone fa-map-location text-primary"></i>
							<p class="mb-0">
								{{item.governorateAr}} - {{item.cityAr}}
							</p>
						</li>
						<li class="nav-item d-flex flex-row align-items-center gap-2">
							<i class="fa-duotone fa-hand-holding-dollar text-primary"></i>
							<p class="m-0">
								{{item.expectedSalary | CustomCurrency:"ar":false}}
							</p>
						</li>
						<li class="nav-item d-flex flex-row align-items-center gap-2">
							<i class="fa-duotone fa-calendar-days text-primary"></i>
							<p class="m-0">
								{{item.duration | DateDifference}}
							</p>
						</li>
					</ul>

				</div>


				<div class="card-body border-0 py-0">
					<p class="line-clamp-3 m-0">
						{{item.details}}
					</p>
				</div>

				<div class="card-footer border-0">
					<small>
						<i class="fa-duotone fa-clock text-primary"></i>
						{{item.createdAt | DateFromNow}}
					</small>
				</div>

			</div>

		</div>

		<!-- Requests placeholder-->
		<div *ngIf="loading">
			<div class="card p-4" *ngFor="let item of fakeArray">
				<div class="row g-0">
					<div class="col-md-3 col-sm-4 placeholder-wave">
						<div class="card-img rounded-2 placeholder placeholder-lg h-100"></div>
					</div>
					<div class="col">
						<div class="d-flex flex-column gap-1 px-3">
							<h5 class="card-title placeholder-glow">
								<a class="placeholder col-6"></a>
							</h5>
							<div class="row g-0 placeholder-glow">
								<div class="row placeholder-glow gap-2">
									<p class="mb-1 placeholder col-3"></p>
									<p class="mb-1 placeholder col-3"></p>
								</div>
								<p class="card-text placeholder-glow">
									<span class="placeholder col-7"></span>
									<span class="placeholder col-4"></span>
									<span class="placeholder col-4"></span>
									<span class="placeholder col-6"></span>
									<span class="placeholder col-8"></span>
								</p>
								<div class="mb-1 placeholder col-2"></div>
							</div>
							<p class="card-text g-0 placeholder-glow"></p>
						</div>
					</div>
					<div class="col-md-2 text-start placeholder-wave">
						<a class="btn btn-primary bg-primary placeholder col-6"></a>
					</div>
				</div>
			</div>
		</div>

		<!-- No Requests -->
		<div *ngIf="usersRequestsList.length == 0 && !loading" class="text-center">
			<h3>لا يوجد طلبات حاليا</h3>
		</div>

		<!-- Pagination -->
		<div class="d-flex justify-center">
			<pagination-controls (pageChange)="pageChanged($event)" previousLabel="السابق" nextLabel="التالي"
				[maxSize]="7">
			</pagination-controls>
		</div>

	</div>

	<!-- Filter big screen -->
	<div class="col-3 col-md-3 d-none d-md-block sticky-top z-0">
		<div class="sticky-top top-1">
			<div class="card p-3">
				<div class="d-flex flex-column gap-3">

					<div class="d-flex flex-row justify-content-between align-items-baseline">
						<p class="fs-4 fw-bold ">فلتر</p>
						<button class="btn btn-danger-soft">مسح</button>
					</div>

					<div class="d-flex flex-column gap-2">

						<div>
							<p>الموقع</p>
							<div class="d-flex flex-column gap-2">
								<div class="mb-3">
									<label for="Governorate2" class="form-label">المحافظة</label>
									<select class="form-select" id="Governorate2" name="Governorate2"
										formControlName="Governorate2" (change)="getCities($event)">
										<option selected disabled>-اختر-</option>
										<option *ngFor="let item of GovernoratesList" [value]="item.id">{{item.nameAr}}
										</option>
									</select>
								</div>

								<div class="mb-3">
									<label for="City2" class="form-label">المركز</label>
									<select class="form-select" id="City2" name="City2" formControlName="City2">
										<option selected disabled>-اختر-</option>
										<option *ngFor="let item of CitiesList" [value]="item.id">{{item.nameAr}}
										</option>
									</select>
								</div>
							</div>
						</div>
						<hr>

						<div>
							<p>التصنيف</p>
							<div>
								<select class="form-select" name="Category2" id="Category2" aria-label="التصنيف"
									formControlName="Category2">
									<option selected>-اختر-</option>
									<option *ngFor="let item of CategoriesList" [value]="item.id">{{item.nameAr}}
									</option>
								</select>
							</div>
						</div>
						<hr>

						<div>
							<p>تقييم العملاء</p>
							<ul class="d-flex flex-row flex-wrap gap-1 list-unstyled m-0 p-0">
								<li class="list-item">
									<input type="checkbox" class="btn-check" id="btn-check-13">
									<label class="btn btn-primary-soft btn-primary-soft-check btn-sm"
										for="btn-check-13">
										3+
									</label>
								</li>
								<li class="list-item">
									<input type="checkbox" class="btn-check" id="btn-check-14">
									<label class="btn btn-primary-soft btn-primary-soft-check btn-sm"
										for="btn-check-14">
										3.5+
									</label>
								</li>
								<li class="list-item">
									<input type="checkbox" class="btn-check" id="btn-check-15">
									<label class="btn btn-primary-soft btn-primary-soft-check btn-sm"
										for="btn-check-15">
										4+
									</label>
								</li>
								<li class="list-item">
									<input type="checkbox" class="btn-check" id="btn-check-16">
									<label class="btn btn-primary-soft btn-primary-soft-check btn-sm"
										for="btn-check-16">
										4.5+
									</label>
								</li>
							</ul>
						</div>
						<hr>

						<div>
							<p>السعر</p>
							<div class="d-flex flex-column gap-2">
								<div class="row g-0 align-items-center">
									<label class="col-3" for="priceFrom">من</label>
									<input type="number" name="priceFrom" id="priceFrom" value="0"
										class="col form-control form-control-sm">
								</div>
								<div class="row g-0 align-items-center">
									<label class="col-3" for="priceTo">حتي</label>
									<input type="number" name="priceTo" id="priceTo" value="0"
										class="col form-control form-control-sm">
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>

</div>
