<div class="row">
	<div class="d-flex justify-content-between mb-4">
		<h4 class="card-header-title">الدفع</h4>
		<div class="d-flex gap-2">
			<button class="btn btn-danger-soft" (click)="cansel()">
				<i class="fa-duotone fa-trash"></i>
				الغاء
			</button>
		</div>
	</div>
</div>

<div class="row m-0 p-0">


	<!-- Accordion -->
	<div class="col-lg-7 col-md-12">
		<hr class="mt-0">
		<div class="accordion accordion-flush" id="accordionFlushExample">
			<!-- item 1 -->
			<form class="row g-3" [formGroup]="vaildition" (ngSubmit)="show()">
				<div class="accordion-item py-4">

					<div class="d-flex justify-content-between align-items-center">
						<a href="#" class="fs-5 fw-medium text-inherit" data-bs-toggle="collapse"
							data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
							<i class="fa-duotone fa-location-dot"></i>
							اضف العنوان
						</a>
						<!--
                                        <a href="#" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal"
                                            data-bs-target="#addAddressModal">Add a new address </a>
                                        -->
					</div>

					<div id="flush-collapseOne" class="accordion-collapse collapse show"
						data-bs-parent="#accordionFlushExample">
						<div class="row m-0 p-0">

							<div class="row p-0 m-0 mb-3">
								<div class="col-md-6">
									<div class="form-floating">
										<input formControlName="name" type="text" class="form-control" id="fullName"
											placeholder="الاسم">
										<label class="form-label">
											الاسم</label>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-floating">
										<input type="tel" class="form-control" id="phomeNumber" formControlName="Phone"
											placeholder="التليفون الشخصي ">
										<label class="form-label">
											التليفون الشخصي
										</label>
									</div>
								</div>
							</div>
							<div class="row p-0 m-0 mb-3">
								<div class="col-md-6">
									<div class="form-floating">
										<select class="form-select" formControlName="Select" id="governorate"
											aria-label="Default select example">
											<option selected>اختر المحافظة</option>
											<option value="1">اسوان</option>
											<option value="2">الاقصر</option>
											<option value="3">قنا</option>
										</select>

									</div>
								</div>
								<div class="col-md-6">
									<div class="form-floating">
										<input type="text" class="form-control" formControlName="city" id="city"
											placeholder="المدينة">
										<label class="form-label">
											المدينة
										</label>
									</div>
								</div>
							</div>
							<div class="row p-0 m-0 mb-3">
								<div class="col-12">
									<div class="form-floating">
										<input type="text" formControlName="Addrees" class="form-control"
											id="inputAddress" placeholder="محافظة اسوان طريق السادات ">
										<label for="inputAddress" class="form-label">العنوان</label>
									</div>
								</div>
							</div>

							<div class="mt-5 d-flex justify-content-end">
								<a href="#" class="btn btn-primary-soft ms-2 collapsed" data-bs-toggle="collapse"
									data-bs-target="#flush-collapseTwo" aria-expanded="false"
									aria-controls="flush-collapseTwo">التالي</a>
							</div>

						</div>
					</div>

				</div>
				<!-- item 2 -->
				<div class="accordion-item py-4">

					<a href="#" class="fs-5 fw-medium text-inherit" data-bs-toggle="collapse"
						data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
						<i class="fa-duotone fa-circle-info"></i>
						تفاصيل الخدمة
					</a>

					<div id="flush-collapseTwo" class="accordion-collapse collapse"
						data-bs-parent="#accordionFlushExample">
						<div class="mt-5">
							<label for="DeliveryInstructions" class="form-label sr-only">
								تفاصيل الخدمة</label>
							<textarea class="form-control" formControlName="textera" id="DeliveryInstructions" rows="3"
								placeholder="Write delivery instructions "></textarea>
							<p class="form-text">أضف تعليمات حول الطريقة التي تريد بها طلبك
							</p>
							<div class="mt-5 d-flex justify-content-end">
								<a href="#" class="btn btn-secondary-soft collapsed" data-bs-toggle="collapse"
									data-bs-target="#flush-collapseOne" aria-expanded="false"
									aria-controls="flush-collapseOne">السابق</a>
								<a href="#" class="btn btn-primary-soft ms-2 collapsed" data-bs-toggle="collapse"
									data-bs-target="#flush-collapseThree" aria-expanded="false"
									aria-controls="flush-collapseThree">التالي</a>
							</div>
						</div>
					</div>

				</div>
				<!-- item 3 -->
				<div class="accordion-item py-4">

					<a href="#" class="fs-5 fw-medium text-inherit" data-bs-toggle="collapse"
						data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
						<i class="fa-duotone fa-money-check-dollar"></i>
						طريقة الدفع
					</a>

					<div id="flush-collapseThree" class="accordion-collapse collapse"
						data-bs-parent="#accordionFlushExample">
						<div class="mt-5">
							<div>
								<!-- Credit Card -->
								<div class="card card-bordered shadow-none mb-2">
									<!-- card body -->
									<div class="card-body p-6">
										<div class="d-flex mb-4">
											<div class="form-check ">
												<!-- input -->
												<input class="form-check-input" type="radio" name="flexRadioDefault"
													id="creditdebitcard">
												<label class="form-check-label ms-2" for="creditdebitcard">
												</label>
											</div>
											<div>
												<h5 class="mb-1 h6"> بطاقة الائتمان / الخصم</h5>
												<p class="mb-0 small"> التحويل الامن للاموال باستخدام حساب البنك


												</p>
											</div>
										</div>
										<div class="row g-2">
											<div class="col-12">
												<!-- input -->
												<div class="mb-3">
													<label class="form-label">اسم البطاقة</label>
													<input type="text" formControlName="namecard" class="form-control"
														placeholder="1234 4567 6789 4321">
												</div>
											</div>
											<div class="col-md-6 col-12">
												<!-- input -->
												<div class="mb-3 mb-lg-0">
													<label class="form-label">اسم المستخدم في البطاقة
													</label>
													<input type="text" formControlName="usercard" class="form-control"
														placeholder="Enter your first name">
												</div>
											</div>
											<div class="col-md-3 col-12">
												<!-- input -->
												<div class="mb-3  mb-lg-0 position-relative">
													<label class="form-label">تاريخ الانتهاء
													</label>
													<input class="form-control flatpickr flatpickr-input" type="text"
														formControlName="exprt" placeholder="Select Date">
													<div class="position-absolute bottom-0 end-0 p-3 lh-1">
														<i class="bi bi-calendar text-muted"></i>
													</div>
												</div>
											</div>
											<div class="col-md-3 col-12">
												<!-- input -->
												<div class="mb-3  mb-lg-0">
													<label class="form-label">CV code </label>
													<input type="password" formControlName="cv" class="form-control"
														placeholder="***">
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Delivery -->
								<div class="card card-bordered shadow-none">
									<div class="card-body p-6">
										<!-- check input -->
										<div class="d-flex">
											<div class="form-check">
												<input class="form-check-input" type="radio" name="flexRadioDefault"
													id="cashonDelivery">
												<label class="form-check-label ms-2" for="cashonDelivery">
												</label>
											</div>
											<div>
												<!-- title -->
												<h5 class="mb-1 h6">ادفع كاش</h5>
												<p class="mb-0 small">
													ادفع بمجرد الانتهاء من عمل الخدمة</p>
											</div>
										</div>
									</div>
								</div>
								<!-- Button -->
								<div class="mt-5 d-flex justify-content-end">
									<a href="#" class="btn btn-secondary-soft collapsed" data-bs-toggle="collapse"
										data-bs-target="#flush-collapseTwo" aria-expanded="false"
										aria-controls="flush-collapseTwo">السابق</a>
									<button class="btn btn-primary-soft ms-2" type="submit">
										ارسل الطلب</button>

								</div>
							</div>
						</div>
					</div>

				</div>
			</form>
		</div>
	</div>

	<!-- Order Details -->
	<div class="col-12 col-md-12 col-lg-5">
		<div class="mt-4 mt-lg-0">
			<div class="card">

				<div class="card-header border-0 pb-0">
					<h5 class="">
						تفاصيل الطلب</h5>
				</div>

				<div class="card-body pb-0">

					<ul class="list-group list-group-flush border rounded p-0 mb-3">
						<!-- list group item -->
						<li class="list-group-item" *ngFor="let li of Arrayli">
							<div class="row align-items-center">
								<div class="col-3">
									<img src="../../../../../assets/images/logo.png" alt="Ecommerce"
										class="img-fluid rounded">
								</div>
								<div class="col-5">
									<h6 class="mb-0 text-truncate">{{li.name}}</h6>
								</div>
								<div class="col-1 text-center">
									<span>{{li.id}}</span>
								</div>
								<div class="col-3 text-lg-end text-start text-md-end">
									<span class="fw-bold">${{li.salary}}</span>
								</div>
							</div>

						</li>
						<!-- list group item -->


					</ul>

					<!-- list group item -->
					<ul class="list-group list-group-flush border rounded p-0 mb-3">
						<!-- list group item -->
						<li class="list-group-item px-4 py-3">
							<div class="d-flex align-items-center justify-content-between   mb-2">
								<div>
									Item Subtotal

								</div>
								<div class="fw-bold">
									$70.00

								</div>

							</div>
							<div class="d-flex align-items-center justify-content-between  ">
								<div>
									Service Fee <i class="feather-icon icon-info text-muted" data-bs-toggle="tooltip"
										aria-label="Default tooltip" data-bs-original-title="Default tooltip"></i>

								</div>
								<div class="fw-bold">
									$3.00

								</div>

							</div>

						</li>
						<li class="list-group-item px-4 py-3">
							<div class="d-flex align-items-center justify-content-between fw-bold">
								<div>Subtotal</div>
								<div class="text-primary">$73.00</div>
							</div>
						</li>

					</ul>

				</div>

			</div>

		</div>
	</div>
</div>
