<section>
	<div class="container">
		<div class="row gy-4">
			<div class=""
				[ngClass]="isViewProfileUserSProvider? 'col-xl-8 col-lg-12 col-sm-12':'col-xl-12 col-lg-12 col-sm-12'">
				<div class="card">
					<div class="card-header">
						<h6 class="m-0">نبذة عني</h6>
					</div>
					<div class="card-body">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
							obcaecati, dolorem architecto accusantium labore sit, ullam
							fugiat voluptas, aliquam nobis dicta consequatur odio assumenda
							autem! Quibusdam quos vitae adipisci accusamus.
						</p>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-12 col-sm-12" *ngIf="isViewProfileUserSProvider">
				<div class="card">
					<div class="card-header">
						<h6 class="m-0">إحصائيات</h6>
					</div>
					<div class="card-body">
						<div class="d-flex">
							<div class="col-7">التقييم</div>
							<div class="col-5">
								4.5
								<i class="fa-solid fa-star text-warning"></i>
							</div>
						</div>
						<div class="d-flex">
							<div class="col-7">الخدمات</div>
							<div class="col-5">
								{{totalServices}} خدمة
							</div>
						</div>
						<div class="d-flex">
							<div class="col-7">تاريخ إنشاء الحساب</div>
							<div class="col-5">
								<!-- 2 years -->
								سنتان
							</div>
						</div>
						<div class="d-flex">
							<div class="col-7">العمل/الخدمات التي تم إنجازها</div>
							<div class="col-5">
								12
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>