<!-- <div class="card bg-light border-0 rounded-4 mt-4"
style="background-image: url(../../../../../assets/images/22.jpg); background-repeat: no-repeat; background-size: cover; background-position: right;">
<div class="card-body p-lg-12">
    <h1>مرحبا ! ServMart
    </h1>
    
</div>
</div> -->

<!-- Cars -->

<div class="row mt-4">
    <div class="col-lg-4 col-12 mb-6">
        <!-- card -->
        <div class="card h-100 card-lg">
            <!-- card body -->
            <div class="card-body p-6">
                <!-- heading -->
                <div class="d-flex justify-content-between align-items-center mb-6">
                    <div>
                        <h4 class="mb-0 fs-5">الخدمات</h4>
                    </div>
                    <div class="icon-shape icon-md bg-light-danger text-dark-danger rounded-circle">
                        <i class="fa-solid fa-hand-holding-dollar fs-5"></i>
                    </div>
                </div>
                <!-- project number -->
                <div class="lh-1">
                    <h1 class=" mb-2 fw-bold fs-2"> {{ selectedcatid }}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-12 mb-6">
        <!-- card -->
        <div class="card h-100 card-lg">
            <!-- card body -->
            <div class="card-body p-6">
                <!-- heading -->
                <div class="d-flex justify-content-between align-items-center mb-6">
                    <div>
                        <h4 class="mb-0 fs-5">المنتجات</h4>
                    </div>
                    <div class="icon-shape icon-md bg-light-warning text-dark-warning rounded-circle">
                        <i class="fa-solid fa-cart-shopping fs-5"></i>
                    </div>
                </div>
                <!-- project number -->
                <div class="lh-1">
                    <h1 class=" mb-2 fw-bold fs-2">{{product}}</h1>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-12 mb-6">
        <!-- card -->
        <div class="card h-100 card-lg">
            <!-- card body -->
            <div class="card-body p-6">
                <!-- heading -->
                <div class="d-flex justify-content-between align-items-center mb-6">
                    <div>
                        <h4 class="mb-0 fs-5">المستخدمين</h4>
                    </div>
                    <div class="icon-shape icon-md bg-light-info text-dark-info rounded-circle">
                        <i class="fa-solid fa-user-group fs-5"></i>
                    </div>
                </div>
                <!-- project number -->
                <div class="lh-1">
                    <h1 class=" mb-2 fw-bold fs-2">{{user}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-5 row">
        <app-ngxchart2 class="col-12"></app-ngxchart2>
    </div>
    <div class="col-lg-7">
        <app-ngx-chart></app-ngx-chart>
    </div>



    <!-- Table one  -->
    
    <div class="col-lg-7">
        <div class="col-12">
            <div class="card border rounded-3">
                <!-- Card header START -->
                <div class="card-header border-bottom">
                    <div class="d-sm-flex justify-content-between align-items-center">
                        <h3 class="mb-2 mb-sm-0">المستخدمين </h3>
                        <!-- <a href="#" class="btn btn-sm btn-primary mb-0">View All</a> -->
                    </div>
                </div>
                <!-- Card header END -->

                <!-- Card body START -->
                <div class="card-body">
                    <!-- Search and select START -->
                    <div class="row g-3 align-items-center justify-content-between mb-3">
                        <!-- Search -->
                        <div class="col-md-8">
                            <form class="rounded position-relative">
                                <input class="form-control pe-5" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn border-0 px-3 py-0 position-absolute top-50 end-0 translate-middle-y"
                                    type="submit"><i class="fas fa-search fs-6"></i></button>
                            </form>
                        </div>

                        <!-- Select option -->
                        <div class="col-md-3 ">
                            <!-- Short by filter -->
                            <form class="col-12">
                                <select class="from-select btn  --bs-info-bg-subtle" style="    width: 163px;
                                "><i class="fa-solid fa-caret-down fa-bounce fa-lg" style="color: #0e5ce1;"></i>
                                    <option value="1"> كل الخدمات </option>
                                    <option value="2"> الخدمات المنتهية </option>
                                    <option value="3"> الخدمات المعلقة </option>
                                    <option value="4"> القيد التنفيذ</option>

                                </select>
                            </form>
                        </div>
                    </div>
                    <!-- Search and select END -->

                    <!-- Hotel room list START -->
                    <div class="table-responsive border-0">
                        <table class="table align-middle p-4 mb-0 table-hover table-shrink">
                            <!-- Table head -->
                            <thead class="table-light">
                                <tr>
                                    <th scope="col" class="border-0 rounded-start">#</th>
                                    <th scope="col" class="border-0"> ألاميل</th>
                                    <th scope="col" class="border-0">رقم الهاتف</th>
                                    <th scope="col" class="border-0">أسم المستخدم </th>
                                    <th scope="col" class="border-0"> عنوان المستخدم</th>
                                </tr>
                            </thead>

                            <!-- Table body START -->
                            <tbody class="border-top-0">
                                <!-- Table item -->
                                <tr *ngFor="let User of Userall">
                                    <td>
                                        <div class="avatar avatar-md flex-shrink-0">
                                            <img class="avatar-img rounded-circle" [src]="User.profilePic" alt="avatar">
                                        </div>
                                    </td>
                                
                                    <td>
                                        {{User.email}} </td>
                                    <td>
                                        {{User.phoneNumber}}
                                    </td>
                                    <td>
                                     
                                            <h6 class="mb-0"><a href="#">{{User.userName
                                            }}</a></h6>
                                
                                    <td>
                                        <div class="badge bg-success bg-opacity-10 text-success">
                                            {{User.address}}
                                        </div>
                               
                            </tbody>
                            <!-- Table body END -->
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <app-order-list></app-order-list>
    </div>
    <!-- End-Table  -->



</div>
<div class="row">
    <div class="Col-lg-8">
        <app-service-list class="" style="    width: 33.33333333%;"></app-service-list>
       </div>
     <div class="col-12">
        
     </div>
</div>