<div class="card border bg-transparent">

	<div class="card-header bg-transparent border-bottom">
		<h5 class="card-header-title">تقييم الخدمة</h5>
	</div>

	<div class="card-body">

		<div class="card border-0 mb-4">
			<div class="card-header border-0 d-md-flex justify-content-md-between align-items-center">
				<!-- Service provider details -->
				<div class="d-flex align-items-center gap-4">
					<div class="icon-lg bg-light rounded-circle flex-shrink-0">
						<img src="https://images.placeholders.dev/?width=200&height=200" alt="" class="rounded-circle">
					</div>
					<div class="ms-2">
						<ul class="list-group list-unstyled small p-0 mt-2">
							<li class="nav-item">
								<div class="d-flex flex-row gap-3">
									<h6 class="card-title mb-0">احمد خالد</h6>
									<app-rating [numberOfStars]="5" [rating]="6.5" [fontSize]="0.875" color="#747579"
										[isDisabled]="true"></app-rating>
								</div>
							</li>
							<li class="nav-item">
								<div class="d-flex flex-row gap-4">
									<span>
										<i class="fa-duotone fa-briefcase"></i>
										اسم التصنيف
									</span>
								</div>
							</li>
						</ul>
					</div>
				</div>

				<!-- Button -->
				<!-- <div class="mt-2 mt-md-0 d-flex flex-row gap-2">
					<a href="#" class="btn btn-primary-soft mb-0">تواصل</a>
					<a href="#" class="btn btn-primary mb-0">قبول العروض</a>
				</div> -->
			</div>
			<!-- rate -->
			<div class="card-body">
				<div class="d-flex flex-row justify-content-between">
					<h5 class="fs-4"> ترشحه للآخرين</h5>
					<div class="w-25">
						<app-rating [numberOfStars]="5" [rating]="5" [fontSize]="1.7"
							(rateChanged)="nominateToOthersChanged($event)"></app-rating>
					</div>

				</div>
				<div class="d-flex flex-row justify-content-between">
					<h5 class="fs-4">جودة العمل</h5>
					<div class="w-25">
						<app-rating [numberOfStars]="5" [rating]="4.5" [fontSize]="1.7"
							(rateChanged)="workQualityChanged($event)"></app-rating>
					</div>
				</div>
				<div class="d-flex flex-row justify-content-between">
					<h5 class="fs-4">احترام موعد التسليم</h5>
					<div class="w-25">
						<app-rating [numberOfStars]="5" [rating]="2" [fontSize]="1.7"
							(rateChanged)="respectDeliveryTimeChanged($event)"></app-rating>
					</div>
				</div>
				<div class="mt-5">
					<div class="form-floating">
						<textarea type="text" class="form-control" title="أخبر الاخرين عن رأيك" rows="3" placeholder=""
							formControlName="message"></textarea>
						<label for="fullName" class="form-label">أخبر الاخرين عن رأيك</label>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
