<h4 class="mb-3">ارسال عرض</h4>

<div class="card border bg-transparent">

    <div class="card-header bg-transparent border-bottom d-flex justify-content-between align-items-center">
        <h5 class="card-header-title">اكمال التاسكات الخاصة باحمد حسيب</h5>
        <button class="btn btn-primary-soft">ارسال</button>
    </div>

    <!-- offers -->
    <div class="card-body">

        <!-- offer Item -->
        <div class="card border-0 mb-4">
            <div class="card-header border-0 d-md-flex justify-content-md-between align-items-center">
                <!-- Service provider details -->
                <div class="d-flex align-items-center gap-4">
                    <div class="icon-lg bg-light rounded-circle flex-shrink-0">
                        <img src="https://images.placeholders.dev/?width=200&height=200" alt="" class="rounded-circle">
                    </div>
                    <div class="ms-2">
                        <ul class="list-group list-unstyled small p-0 mt-2">
                            <li class="nav-item">
                                <div class="d-flex flex-row gap-3">
                                    <h6 class="card-title mb-0">عبدالرحمن احمد</h6>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="d-flex flex-row gap-4">
                                    <span><i class="fa-duotone fa-clock"></i> منذ 29 دقيقة</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Button -->
                <!-- <div class="mt-2 mt-md-0 d-flex flex-row gap-2">
                    <a href="#" class="btn btn-primary-soft mb-0">تواصل</a>
                    <a href="#" class="btn btn-primary mb-0">قبول العروض</a>
                </div> -->
            </div>
            <div class="card-body">
                <div class="row g-3 bg-light rounded p-2 m-0">
                    <div class="col-md-4  d-flex flex-row gap-4 p-0 m-0">
                        <span>المبلغ</span>
                        <h6 class="mb-0">$125</h6>
                    </div>
                    <div class="col-md-4 d-flex flex-row gap-4 p-0 m-0">
                        <span>مدة التنفيذ</span>
                        <h6 class="mb-0">3 أيام</h6>
                    </div>
                </div>
                <div class="mt-3">
                    <p class="text-dark fs-5">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni voluptas modi nam unde molestiae
                        ut, exercitationem mollitia inventore repellat saepe rerum deserunt eligendi excepturi alias
                        amet! Hic labore inventore, nobis, perspiciatis dignissimos numquam enim, provident nisi dolore
                        nemo delectus distinctio? Reiciendis non, libero repellendus, officia placeat enim fugiat ut
                        maxime eveniet eos est nesciunt dolor molestiae.
                    </p>
                </div>
            </div>
        </div>

        <hr>

        <div class="card border-0">
            <div class="row m-0 p-0">
                <div class="col-6 pe-0">
                    <div class="form-floating mt-5">
                        <input type="text" class="form-control text-end" id="period" placeholder="مدة التنفيذ">
                        <label for="period">مدة التنفيذ</label>
                    </div>
                </div>
                <div class="col-6 ps-0">
                    <div class="form-floating mt-5">
                        <input type="number" class="form-control" id="salary" placeholder="المبلغ المطلوب">
                        <label for="salary">المبلغ المطلوب</label>
                    </div>
                </div>
            </div>
            <div class="mt-5">
                <div class="form-floating">
                    <textarea type="text" class="form-control" title="قدم عرضك" rows="3" placeholder=""></textarea>
                    <label for="fullName" class="form-label">قدم عرضك</label>
                </div>
            </div>
        </div>

    </div>
</div>
