<h4 class="mb-3">ارسال عرض</h4>

<div class="card border bg-transparent">

	<!-- Request title -->
	<div class="card-header bg-transparent border-bottom d-flex justify-content-between align-items-center">

		<h5 class="card-header-title" *ngIf="!isLoading">{{request.title}}</h5>
		<h5 class="card-header-title w-25 placeholder-wave" *ngIf="isLoading">
			<span class="placeholder w-100"></span>
		</h5>

		<div class="d-flex flex-row align-items-center gap-2">
			<a class="btn btn-light d-flex flex-row align-items-center gap-2" *ngIf="!isLoading">
				تواصل
				<i class="fa-duotone fa-comment text-primary"></i>
			</a>
			<a class="btn btn-light d-flex flex-row align-items-center gap-2" *ngIf="isLoading">
				تواصل
				<i class="fa-duotone fa-comment text-primary"></i>
			</a>
			<button class="btn btn-primary-soft" (click)="onFormSubmit()" *ngIf="!isLoading">ارسال</button>
			<button class="btn btn-primary disabled placeholder" aria-disabled="true" *ngIf="isLoading">ارسال</button>
		</div>

	</div>

	<div class="card-body">

		<!-- Request details -->
		<div class="card border-0 mb-4">
			<div class="card-header border-0 d-md-flex justify-content-md-between align-items-center">

				<div class="d-flex align-items-center gap-4">
					<div class="avatar avatar-xl mb-2 mb-sm-0 ">
						<img class="avatar-img rounded-circle" [src]="request.user.profilePic" alt=""
							*ngIf="!isLoading">
						<div class="avatar-img rounded-circle d-flex placeholder-glow">
							<span class="avatar-img rounded-circle placeholder" alt="" *ngIf="isLoading"></span>
						</div>
					</div>
					<div class="ms-2">
						<ul class="list-group list-unstyled small p-0 mt-2" *ngIf="!isLoading">
							<li class="nav-item mb-2">
								<div class="d-flex flex-row gap-3">
									<h5 class="card-title mb-0">
										{{request.user.fName}} {{request.user.lName}}
									</h5>
								</div>
							</li>
							<li class="nav-item">
								<div class="d-flex flex-row align-items-center gap-2">
									<i class="fa-duotone fa-clock"></i>
									{{request.createdAt | DateFromNow }}
								</div>
							</li>
						</ul>
						<div class="placeholder-wave row" *ngIf="isLoading">
							<h5 class="card-title mb-0 placeholder w-100 mb-2"></h5>
							<div class="d-flex flex-row gap-4">
								<i class="fa-duotone fa-clock"></i>
								<span class="placeholder w-100"></span>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="card-body">
				<div class="row g-3 bg-light rounded p-2 m-0">
					<div class="col-md-4  d-flex flex-row gap-4 p-0 m-0">
						<span>المبلغ</span>
						<h6 class="mb-0" *ngIf="!isLoading">{{request.expectedSalary| CustomCurrency:"ar": false}}</h6>
						<div class="row g-0 placeholder-glow w-90px" *ngIf="isLoading">
							<div class="mb-1 placeholder col"></div>
						</div>
					</div>
					<div class="col-md-4 d-flex flex-row gap-4 p-0 m-0">
						<span>مدة التنفيذ</span>
						<h6 class="mb-0" *ngIf="!isLoading">{{request.duration| DateDifference}}</h6>
						<div class="row g-0 placeholder-glow w-90px" *ngIf="isLoading">
							<div class="mb-1 placeholder col"></div>
						</div>
					</div>
				</div>
				<div class="mt-3 row">
					<div class="row g-0 placeholder-glow" *ngIf="isLoading">
						<p class="card-text placeholder-glow">
							<span class="placeholder col-7"></span>
							<span class="placeholder col-4"></span>
							<span class="placeholder col-4"></span>
							<span class="placeholder col-6"></span>
							<span class="placeholder col-8"></span>
						</p>
						<div class="mb-1 placeholder col-2"></div>
					</div>
					<p class="text-dark fs-5" *ngIf="!isLoading">
						{{request.details}}
					</p>
				</div>
			</div>
		</div>

		<hr>

		<!-- offer -->
		<div class="card border-0">
			<form [formGroup]="offerForm">
				<div class="row m-0 p-0">
					<div class="col-6 pe-0">
						<div class="form-floating mt-5">
							<input type="number" min="1" class="form-control text-end" id="Duration"
								placeholder="مدة التنفيذ" formControlName="Duration">
							<label for="Duration">مدة التنفيذ</label>
						</div>
					</div>
					<div class="col-6 ps-0">
						<div class="form-floating mt-5">
							<input type="number" class="form-control" id="ExpectedSalary" placeholder="المبلغ المطلوب"
								formControlName="ExpectedSalary">
							<label for="ExpectedSalary">المبلغ المطلوب</label>
						</div>
					</div>
				</div>
				<div class="mt-5">
					<div class="form-floating">
						<textarea type="text" class="form-control" title="تفاصيل العرض" rows="3"
							formControlName="Details" placeholder="" id="Details"></textarea>
						<label for="Details" class="form-label">تفاصيل العرض</label>
					</div>
				</div>
			</form>
		</div>

	</div>
</div>
