<section class="p-0 m-0">
	<div class="container">
		<div class="card rounded-3 border p-3 gap-4">
			<!-- Avatar and info -->
			<div class="d-sm-flex justify-content-between align-items-start gap-2">
				<div class="d-sm-flex align-items-center gap-2">
					<div class="avatar avatar-xl mb-2 mb-sm-0 ">
						<img class="avatar-img rounded-circle" [src]="user.profilePic" alt="" *ngIf="!isLoading">
						<div class="avatar-img rounded-circle d-flex placeholder-glow">
							<span class="avatar-img rounded-circle placeholder" alt="" *ngIf="isLoading"></span>
						</div>
					</div>
					<div class="d-flex flex-column gap-1">
						<h4 class="mb-2 mb-sm-0">
							{{user.fName}} {{user.lName}}
							<span>
								<i class="fa-duotone fa-badge-check text-primary"></i>
							</span>
						</h4>
						<!-- <p class="mb-2 mb-sm-0">مطور ويب</p> -->
					</div>
				</div>

				<div class="d-flex align-items-center flex-shrink-0 me-auto gap-4" *ngIf="!isCurrentUser">
					<div class="dropdown">
						<a class="btn btn-light" href="#" id="dropdoanMenu" data-bs-toggle="dropdown" title="اعدادت"
							aria-haspopup="true" aria-expanded="false">
							<i class="fa-duotone fa-ellipsis"></i>
						</a>
						<ul class="dropdown-menu" aria-labelledby="dropdoanMenu">
							<!-- Dropdown menu -->
							<li>
								<a class="dropdown-item" href="#">
									<i class="fa-duotone fa-flag"></i>
									تبليغ
								</a>
							</li>
							<li>
								<a class="dropdown-item bg-danger-soft-hover" href="#">
									<i class="fa-duotone fa-user-xmark"></i>
									حظر
								</a>
							</li>
						</ul>
					</div>
					<a [routerLink]="['/addRequest', user.id]" class="btn btn-primary-soft mb-0"
						*ngIf="isViewProfileUserSProvider">
						<i class="fa-duotone fa-handshake"></i> وظفني
					</a>
				</div>
			</div>

			<!-- Nav item -->
			<div class="card-footer border-0 p-0 navbar navbar-expand-xl" role="tablist">
				<ul class="navbar-nav navbar-offcanvas-menu flex-row gap-4 p-0" role="presentation">
					<li class="nav-item">
						<a class="nav-link p-2 rounded active" href="#about" data-bs-toggle="tab" aria-selected="false"
							role="tab">
							<i class="fa-duotone fa-user"></i>
							<span class="d-none d-sm-flex">معلومات عني</span>
						</a>
					</li>

					<li class="nav-item" *ngIf="!isCurrentUser || !isUserLoggedInCustomer">
						<a class="nav-link p-2 rounded" href="#works" data-bs-toggle="tab" aria-selected="false"
							role="tab">
							<i class="fa-duotone fa-boxes-stacked"></i>
							<span class="d-none d-sm-flex">اعمالي السابقة</span>
						</a>
					</li>

					<li class="nav-item" *ngIf="!isCurrentUser || !isUserLoggedInCustomer">
						<a class="nav-link p-2 rounded" href="#services" data-bs-toggle="tab" aria-selected="false"
							role="tab">
							<i class="fa-duotone fa-bolt"></i>
							<div class="d-none d-sm-flex">خدماتي</div>
						</a>
					</li>

					<li class="nav-item" *ngIf="!isCurrentUser || !isUserLoggedInCustomer">
						<a class="nav-link p-2 rounded" href="#reviews" data-bs-toggle="tab" aria-selected="false"
							role="tab">
							<i class="fa-duotone fa-star-sharp-half"></i>
							<div class="d-none d-sm-flex">تقييمي</div>
						</a>
					</li>

				</ul>
			</div>
		</div>
	</div>
</section>

<div class="tab-content card-body p-0 pb-lg-0 pb-4" id="nav-tabContent">
	<!-- about section -->
	<profile-about-section role="tabpanel" [User]="user" [UserRoles]="userRoles" id="about"
		class="tab-pane fade active show"></profile-about-section>

	<!-- previous works section -->
	<profile-previous-works-section role="tabpanel" [User]="user" id="works"
		class="tab-pane fade"></profile-previous-works-section>

	<!-- services section -->
	<profile-services-section role="tabpanel" [User]="user" id="services"
		class="tab-pane fade"></profile-services-section>

	<!-- reviews section -->
	<profile-reviews-section role="tabpanel" [User]="user" id="reviews" class="tab-pane fade"></profile-reviews-section>

</div>