<section class="p-0 m-0">
	<div class="container">
		<div class="card rounded-3 border p-3 gap-4">
			<!-- Avatar and info -->
			<div class="d-sm-flex justify-content-between align-items-start gap-2">
				<div class="d-sm-flex align-items-center gap-2">
					<div class="avatar avatar-xl mb-2 mb-sm-0">
						<img class="avatar-img rounded-circle"
							src="https://images.placeholders.dev/?width=200&height=200" alt="">
					</div>
					<div class="d-flex flex-column gap-1">
						<h4 class="mb-2 mb-sm-0">
							عبدالرحمن محمود
							<span>
								<i class="fa-duotone fa-badge-check text-primary"></i>
							</span>
						</h4>
						<p class="mb-2 mb-sm-0">مطور ويب</p>
					</div>
				</div>
				<div class="d-flex flex-column gap-1">
					<h4 class="mb-2 mb-sm-0 ms-sm-3">Abdo Tayson <span>
							<i class="fa-duotone fa-badge-check text-primary"></i>
						</span>
					</h4>
					<p class="mb-2 mb-sm-0 ms-sm-3">Service name</p>
				</div>
				<div class=" d-flex align-items-center flex-shrink-0 ms-auto gap-4">
					<div class="dropdown">
						<a class="btn btn-light" href="#" id="dropdoanMenu" data-bs-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							<i class="fa-duotone fa-ellipsis"></i>
						</a>
						<ul class="dropdown-menu" aria-labelledby="dropdoanMenu">
							<!-- Dropdown menu -->
							<li> <a class="dropdown-item" href="#">تبليغ</a></li>
						</ul>
					</div>
					<a href="#" class="btn btn-primary-soft mb-0">
						<i class="fa-duotone fa-handshake"></i> وظفني
					</a>
				</div>
			</div>

			<!-- Nav item -->
			<div class="card-footer border-0 p-0 navbar navbar-expand-xl">
				<ul class="navbar-nav navbar-offcanvas-menu flex-row gap-4 p-0" role="tablist">
					<li class="nav-item" role="presentation">
						<a class="nav-link p-2 rounded active" href="#about" data-bs-toggle="tab" aria-selected="false"
							role="tab">
							<i class="fa-duotone fa-user"></i>
							<span class="d-none d-sm-flex">معلومات عني</span>
						</a>
					</li>

					<li class="nav-item" role="presentation">
						<a class="nav-link p-2 rounded" href="#work" data-bs-toggle="tab" aria-selected="false"
							role="tab">
							<i class="fa-duotone fa-boxes-stacked"></i>
							<span class="d-none d-sm-flex">اعمالي السابقة</span>
						</a>
					</li>

					<li class="nav-item" role="presentation">
						<a class="nav-link p-2 rounded" href="#services" data-bs-toggle="tab" aria-selected="false"
							role="tab">
							<i class="fa-duotone fa-bolt"></i>
							<div class="d-none d-sm-flex">خدماتي</div>
						</a>
					</li>

					<li class="nav-item" role="presentation">
						<a class="nav-link p-2 rounded" href="#reviews" data-bs-toggle="tab" aria-selected="false"
							role="tab">
							<i class="fa-duotone fa-star-sharp-half"></i>
							<div class="d-none d-sm-flex">تقييمي</div>
						</a>
					</li>

				</ul>
			</div>
		</div>
	</div>
</section>

<div class="tab-content card-body p-0 pb-lg-0 pb-4" id="nav-tabContent">
	<!-- about section -->
	<section class="tab-pane fade active show" role="tabpanel" id="about">
		<div class="container">
			<div class="row gy-4">
				<div class="col-xl-8 col-lg-12 col-sm-12">
					<div class="card">
						<div class="card-header">
							<h6 class="m-0">نبذة عني</h6>
						</div>
						<div class="card-body">
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
								obcaecati, dolorem architecto accusantium labore sit, ullam
								fugiat voluptas, aliquam nobis dicta consequatur odio assumenda
								autem! Quibusdam quos vitae adipisci accusamus.
							</p>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-12 col-sm-12">
					<div class="card">
						<div class="card-header">
							<h6 class="m-0">إحصائيات</h6>
						</div>
						<div class="card-body">
							<div class="d-flex">
								<div class="col-7">التقييم</div>
								<div class="col-5">
									4.5
									<i class="fa-solid fa-star text-warning"></i>
								</div>
							</div>
							<div class="d-flex">
								<div class="col-7">الخدمات</div>
								<div class="col-5">
									3 خدمات
								</div>
							</div>
							<div class="d-flex">
								<div class="col-7">تاريخ إنشاء الحساب</div>
								<div class="col-5">
									<!-- 2 years -->
									سنتان
								</div>
							</div>
							<div class="d-flex">
								<div class="col-7">العمل/الخدمات التي تم إنجازها</div>
								<div class="col-5">
									12
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- projects section -->
	<section class="tab-pane fade" role="tabpanel" id="work">
		<div class="container">
			<div class="card border-0">
				<div class="card-header">
					<h6 class="mb-0">تفقد اخر اعمالي</h6>
				</div>
				<div class="card-body">
					<div class="row gy-4">
						<!-- project example -->
						<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
							<div class="card">
								<img src="https://nafezly-production.fra1.digitaloceanspaces.com/uploads/portfolios/small/13946_638922fd9a35d_1669931773.webp"
									class="card-img-top" alt="...">
								<div class="card-body">
									<div class="d-flex flex-column">
										<h5 class="card-title">
											عنوان المشروع
										</h5>
										<span>
											<i class="fa-solid fa-star text-warning"></i>
											4.3
										</span>
									</div>
									<p class="card-text line-clamp-3">
										Lorem ipsum dolor, sit amet consectetur adipisicing
										elit.
										Recusandae nihil molestiae itaque dignissimos nam
										deleniti
										laudantium doloribus voluptates odio velit? Ullam,
										dignissimos
										architecto? Est dolore, voluptatibus laudantium dolorem
										esse
										minus?
									</p>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
							<div class="card">
								<img src="https://nafezly-production.fra1.digitaloceanspaces.com/uploads/portfolios/small/13946_638922fd9a35d_1669931773.webp"
									class="card-img-top" alt="...">
								<div class="card-body">
									<div class="d-flex flex-column">
										<h5 class="card-title">
											عنوان المشروع
										</h5>
										<span>
											<i class="fa-solid fa-star text-warning"></i>
											4.3
										</span>
									</div>
									<p class="card-text line-clamp-3">
										Lorem ipsum dolor, sit amet consectetur adipisicing
										elit.
										In,
										voluptas obcaecati necessitatibus eaque, veritatis
										quidem
										consequatur vel perspiciatis commodi dolor ullam
										cupiditate
										ut
										atque, sint maiores eligendi at hic dicta?
									</p>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
							<div class="card">
								<img src="https://nafezly-production.fra1.digitaloceanspaces.com/uploads/portfolios/small/13946_638922fd9a35d_1669931773.webp"
									class="card-img-top" alt="...">
								<div class="card-body">
									<div class="d-flex flex-column">
										<h5 class="card-title">
											عنوان المشروع
										</h5>
										<span>
											<i class="fa-solid fa-star text-warning"></i>
											4.3
										</span>
									</div>
									<p class="card-text line-clamp-3">
										Lorem ipsum dolor, sit amet consectetur adipisicing
										elit.
										In,
										voluptas obcaecati necessitatibus eaque, veritatis
										quidem
										consequatur vel perspiciatis commodi dolor ullam
										cupiditate
										ut
										atque, sint maiores eligendi at hic dicta?
									</p>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
							<div class="card">
								<img src="https://nafezly-production.fra1.digitaloceanspaces.com/uploads/portfolios/small/13946_638922fd9a35d_1669931773.webp"
									class="card-img-top" alt="...">
								<div class="card-body">
									<div class="d-flex flex-column">
										<h5 class="card-title">
											عنوان المشروع
										</h5>
										<span>
											<i class="fa-solid fa-star text-warning"></i>
											4.3
										</span>
									</div>
									<p class="card-text line-clamp-3">
										Lorem ipsum dolor, sit amet consectetur adipisicing
										elit.
										In,
										voluptas obcaecati necessitatibus eaque, veritatis
										quidem
										consequatur vel perspiciatis commodi dolor ullam
										cupiditate
										ut
										atque, sint maiores eligendi at hic dicta?
									</p>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
							<div class="card">
								<img src="https://nafezly-production.fra1.digitaloceanspaces.com/uploads/portfolios/small/13946_638922fd9a35d_1669931773.webp"
									class="card-img-top" alt="...">
								<div class="card-body">
									<div class="d-flex flex-column">
										<h5 class="card-title">
											عنوان المشروع
										</h5>
										<span>
											<i class="fa-solid fa-star text-warning"></i>
											4.3
										</span>
									</div>
									<p class="card-text line-clamp-3">
										Lorem ipsum dolor, sit amet consectetur adipisicing
										elit.
										In,
										voluptas obcaecati necessitatibus eaque, veritatis
										quidem
										consequatur vel perspiciatis commodi dolor ullam
										cupiditate
										ut
										atque, sint maiores eligendi at hic dicta?
									</p>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
							<div class="card">
								<img src="https://nafezly-production.fra1.digitaloceanspaces.com/uploads/portfolios/small/13946_638922fd9a35d_1669931773.webp"
									class="card-img-top" alt="...">
								<div class="card-body">
									<div class="d-flex flex-column">
										<h5 class="card-title">
											عنوان المشروع
										</h5>
										<span>
											<i class="fa-solid fa-star text-warning"></i>
											4.3
										</span>
									</div>
									<p class="card-text line-clamp-3">
										Lorem ipsum dolor, sit amet consectetur adipisicing
										elit.
										In,
										voluptas obcaecati necessitatibus eaque, veritatis
										quidem
										consequatur vel perspiciatis commodi dolor ullam
										cupiditate
										ut
										atque, sint maiores eligendi at hic dicta?
									</p>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
							<div class="card">
								<img src="https://nafezly-production.fra1.digitaloceanspaces.com/uploads/portfolios/small/13946_638922fd9a35d_1669931773.webp"
									class="card-img-top" alt="...">
								<div class="card-body">
									<div class="d-flex flex-column">
										<h5 class="card-title">
											عنوان المشروع
										</h5>
										<span>
											<i class="fa-solid fa-star text-warning"></i>
											4.3
										</span>
									</div>
									<p class="card-text line-clamp-3">
										Lorem ipsum dolor, sit amet consectetur adipisicing
										elit.
										In,
										voluptas obcaecati necessitatibus eaque, veritatis
										quidem
										consequatur vel perspiciatis commodi dolor ullam
										cupiditate
										ut
										atque, sint maiores eligendi at hic dicta?
									</p>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
							<div class="card">
								<img src="https://nafezly-production.fra1.digitaloceanspaces.com/uploads/portfolios/small/13946_638922fd9a35d_1669931773.webp"
									class="card-img-top" alt="...">
								<div class="card-body">
									<div class="d-flex flex-column">
										<h5 class="card-title">
											عنوان المشروع
										</h5>
										<span>
											<i class="fa-solid fa-star text-warning"></i>
											4.3
										</span>
									</div>
									<p class="card-text line-clamp-3">
										Lorem ipsum dolor, sit amet consectetur adipisicing
										elit.
										In,
										voluptas obcaecati necessitatibus eaque, veritatis
										quidem
										consequatur vel perspiciatis commodi dolor ullam
										cupiditate
										ut
										atque, sint maiores eligendi at hic dicta?
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- services section -->
	<section class="tab-pane fade" role="tabpanel" id="services">
		<div class="container">
			<div class="card border-0">
				<div class="card-header">
					<h6 class="mb-0">تفقد خدماتي</h6>
				</div>
				<div class="card-body">
					<div class="row gy-4">
						<!-- project example -->
						<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
							<div class="card">
								<img src="https://nafezly-production.fra1.digitaloceanspaces.com/uploads/portfolios/small/13946_638922fd9a35d_1669931773.webp"
									class="card-img-top" alt="...">
								<div class="card-body pb-2">

									<h5 class="card-title">
										عنوان المشروع
									</h5>
									<p class="card-text line-clamp-3">
										Lorem ipsum dolor, sit amet consectetur adipisicing
										elit.
										Recusandae nihil molestiae itaque dignissimos nam
										deleniti
										laudantium doloribus voluptates odio velit? Ullam,
										dignissimos
										architecto? Est dolore, voluptatibus laudantium dolorem
										esse
										minus?
									</p>
								</div>
								<div class="card-footer border-0 pt-0">
									<div class="d-flex flex-row justify-content-between">
										<span class="text-primary">23$</span>

										<span>
											<i class="fa-solid fa-star text-warning"></i>
											4.3
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
							<div class="card">
								<img src="https://nafezly-production.fra1.digitaloceanspaces.com/uploads/portfolios/small/13946_638922fd9a35d_1669931773.webp"
									class="card-img-top" alt="...">
								<div class="card-body pb-2">

									<h5 class="card-title">
										عنوان المشروع
									</h5>
									<p class="card-text line-clamp-3">
										Lorem ipsum dolor, sit amet consectetur adipisicing
										elit.
										Recusandae nihil molestiae itaque dignissimos nam
										deleniti
										laudantium doloribus voluptates odio velit? Ullam,
										dignissimos
										architecto? Est dolore, voluptatibus laudantium dolorem
										esse
										minus?
									</p>
								</div>
								<div class="card-footer border-0 pt-0">
									<div class="d-flex flex-row justify-content-between">
										<span class="text-primary">23$</span>

										<span>
											<i class="fa-solid fa-star text-warning"></i>
											4.3
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
							<div class="card">
								<img src="https://nafezly-production.fra1.digitaloceanspaces.com/uploads/portfolios/small/13946_638922fd9a35d_1669931773.webp"
									class="card-img-top" alt="...">
								<div class="card-body pb-2">

									<h5 class="card-title">
										عنوان المشروع
									</h5>
									<p class="card-text line-clamp-3">
										Lorem ipsum dolor, sit amet consectetur adipisicing
										elit.
										Recusandae nihil molestiae itaque dignissimos nam
										deleniti
										laudantium doloribus voluptates odio velit? Ullam,
										dignissimos
										architecto? Est dolore, voluptatibus laudantium dolorem
										esse
										minus?
									</p>
								</div>
								<div class="card-footer border-0 pt-0">
									<div class="d-flex flex-row justify-content-between">
										<span class="text-primary">23$</span>

										<span>
											<i class="fa-solid fa-star text-warning"></i>
											4.3
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
							<div class="card">
								<img src="https://nafezly-production.fra1.digitaloceanspaces.com/uploads/portfolios/small/13946_638922fd9a35d_1669931773.webp"
									class="card-img-top" alt="...">
								<div class="card-body pb-2">

									<h5 class="card-title">
										عنوان المشروع
									</h5>
									<p class="card-text line-clamp-3">
										Lorem ipsum dolor, sit amet consectetur adipisicing
										elit.
										Recusandae nihil molestiae itaque dignissimos nam
										deleniti
										laudantium doloribus voluptates odio velit? Ullam,
										dignissimos
										architecto? Est dolore, voluptatibus laudantium dolorem
										esse
										minus?
									</p>
								</div>
								<div class="card-footer border-0 pt-0">
									<div class="d-flex flex-row justify-content-between">
										<span class="text-primary">23$</span>

										<span>
											<i class="fa-solid fa-star text-warning"></i>
											4.3
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
							<div class="card">
								<img src="https://nafezly-production.fra1.digitaloceanspaces.com/uploads/portfolios/small/13946_638922fd9a35d_1669931773.webp"
									class="card-img-top" alt="...">
								<div class="card-body pb-2">

									<h5 class="card-title">
										عنوان المشروع
									</h5>
									<p class="card-text line-clamp-3">
										Lorem ipsum dolor, sit amet consectetur adipisicing
										elit.
										Recusandae nihil molestiae itaque dignissimos nam
										deleniti
										laudantium doloribus voluptates odio velit? Ullam,
										dignissimos
										architecto? Est dolore, voluptatibus laudantium dolorem
										esse
										minus?
									</p>
								</div>
								<div class="card-footer border-0 pt-0">
									<div class="d-flex flex-row justify-content-between">
										<span class="text-primary">23$</span>

										<span>
											<i class="fa-solid fa-star text-warning"></i>
											4.3
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
							<div class="card">
								<img src="https://nafezly-production.fra1.digitaloceanspaces.com/uploads/portfolios/small/13946_638922fd9a35d_1669931773.webp"
									class="card-img-top" alt="...">
								<div class="card-body pb-2">

									<h5 class="card-title">
										عنوان المشروع
									</h5>
									<p class="card-text line-clamp-3">
										Lorem ipsum dolor, sit amet consectetur adipisicing
										elit.
										Recusandae nihil molestiae itaque dignissimos nam
										deleniti
										laudantium doloribus voluptates odio velit? Ullam,
										dignissimos
										architecto? Est dolore, voluptatibus laudantium dolorem
										esse
										minus?
									</p>
								</div>
								<div class="card-footer border-0 pt-0">
									<div class="d-flex flex-row justify-content-between">
										<span class="text-primary">23$</span>

										<span>
											<i class="fa-solid fa-star text-warning"></i>
											4.3
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
							<div class="card">
								<img src="https://nafezly-production.fra1.digitaloceanspaces.com/uploads/portfolios/small/13946_638922fd9a35d_1669931773.webp"
									class="card-img-top" alt="...">
								<div class="card-body pb-2">

									<h5 class="card-title">
										عنوان المشروع
									</h5>
									<p class="card-text line-clamp-3">
										Lorem ipsum dolor, sit amet consectetur adipisicing
										elit.
										Recusandae nihil molestiae itaque dignissimos nam
										deleniti
										laudantium doloribus voluptates odio velit? Ullam,
										dignissimos
										architecto? Est dolore, voluptatibus laudantium dolorem
										esse
										minus?
									</p>
								</div>
								<div class="card-footer border-0 pt-0">
									<div class="d-flex flex-row justify-content-between">
										<span class="text-primary">23$</span>

										<span>
											<i class="fa-solid fa-star text-warning"></i>
											4.3
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
							<div class="card">
								<img src="https://nafezly-production.fra1.digitaloceanspaces.com/uploads/portfolios/small/13946_638922fd9a35d_1669931773.webp"
									class="card-img-top" alt="...">
								<div class="card-body pb-2">

									<h5 class="card-title">
										عنوان المشروع
									</h5>
									<p class="card-text line-clamp-3">
										Lorem ipsum dolor, sit amet consectetur adipisicing
										elit.
										Recusandae nihil molestiae itaque dignissimos nam
										deleniti
										laudantium doloribus voluptates odio velit? Ullam,
										dignissimos
										architecto? Est dolore, voluptatibus laudantium dolorem
										esse
										minus?
									</p>
								</div>
								<div class="card-footer border-0 pt-0">
									<div class="d-flex flex-row justify-content-between">
										<span class="text-primary">23$</span>

										<span>
											<i class="fa-solid fa-star text-warning"></i>
											4.3
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- reviews section -->
	<section class="tab-pane fade" role="tabpanel" id="reviews">
		<div class="container">
			<div class="card border-0">
				<div class="card-header">
					<h6 class="mb-0">
						ما يقوله الأشخاص الذين عملت معهم
					</h6>
				</div>
				<div class="card-body row gy-4">
					<!-- reviews -->
					<div class="card">
						<div class="card-header">
							<h6 class="m-0 p-0 fs-6 fw-medium">عنوان العمل أو الخدمة</h6>
						</div>
						<div class="card-body">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
							maiores
							aperiam totam consequatur, voluptate quo repellendus facilis itaque
							cupiditate rem incidunt quos corrupti obcaecati similique excepturi
							illo
							reprehenderit libero in?
						</div>
						<div class="card-footer">
							<div class="row g-3">
								<div class="col-sm-6 col-md-3">
									<span>ترشح للآخرين</span>
									<span>
										<br>
										<i class="fa-solid fa-star text-warning"></i>
										4.3
									</span>
								</div>
								<div class="col-sm-6 col-md-3">
									<span>جودة العمل</span>
									<span>
										<br>
										<i class="fa-solid fa-star text-warning"></i>
										4.3
									</span>
								</div>
								<div class="col-sm-6 col-md-3">
									<span>احترام موعد التسليم</span>
									<span>
										<br>
										<i class="fa-solid fa-star text-warning"></i>
										4.3
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							<h6 class="m-0 p-0 fs-6 fw-medium">عنوان العمل أو الخدمة</h6>
						</div>
						<div class="card-body">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
							maiores
							aperiam totam consequatur, voluptate quo repellendus facilis itaque
							cupiditate rem incidunt quos corrupti obcaecati similique excepturi
							illo
							reprehenderit libero in?
						</div>
						<div class="card-footer">
							<div class="row g-3">
								<div class="col-sm-6 col-md-3">
									<span>ترشح للآخرين</span>
									<span>
										<br>
										<i class="fa-solid fa-star text-warning"></i>
										4.3
									</span>
								</div>
								<div class="col-sm-6 col-md-3">
									<span>جودة العمل</span>
									<span>
										<br>
										<i class="fa-solid fa-star text-warning"></i>
										4.3
									</span>
								</div>
								<div class="col-sm-6 col-md-3">
									<span>احترام موعد التسليم</span>
									<span>
										<br>
										<i class="fa-solid fa-star text-warning"></i>
										4.3
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							<h6 class="m-0 p-0 fs-6 fw-medium">عنوان العمل أو الخدمة</h6>
						</div>
						<div class="card-body">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
							maiores
							aperiam totam consequatur, voluptate quo repellendus facilis itaque
							cupiditate rem incidunt quos corrupti obcaecati similique excepturi
							illo
							reprehenderit libero in?
						</div>
						<div class="card-footer">
							<div class="row g-3">
								<div class="col-sm-6 col-md-3">
									<span>ترشح للآخرين</span>
									<span>
										<br>
										<i class="fa-solid fa-star text-warning"></i>
										4.3
									</span>
								</div>
								<div class="col-sm-6 col-md-3">
									<span>جودة العمل</span>
									<span>
										<br>
										<i class="fa-solid fa-star text-warning"></i>
										4.3
									</span>
								</div>
								<div class="col-sm-6 col-md-3">
									<span>احترام موعد التسليم</span>
									<span>
										<br>
										<i class="fa-solid fa-star text-warning"></i>
										4.3
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header">
							<h6 class="m-0 p-0 fs-6 fw-medium">عنوان العمل أو الخدمة</h6>
						</div>
						<div class="card-body">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
							maiores
							aperiam totam consequatur, voluptate quo repellendus facilis itaque
							cupiditate rem incidunt quos corrupti obcaecati similique excepturi
							illo
							reprehenderit libero in?
						</div>
						<div class="card-footer">
							<div class="row g-3">
								<div class="col-sm-6 col-md-3">
									<span>ترشح للآخرين</span>
									<span>
										<br>
										<i class="fa-solid fa-star text-warning"></i>
										4.3
									</span>
								</div>
								<div class="col-sm-6 col-md-3">
									<span>جودة العمل</span>
									<span>
										<br>
										<i class="fa-solid fa-star text-warning"></i>
										4.3
									</span>
								</div>
								<div class="col-sm-6 col-md-3">
									<span>احترام موعد التسليم</span>
									<span>
										<br>
										<i class="fa-solid fa-star text-warning"></i>
										4.3
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>