<footer class="new_footer_area bg_color">
	<div class="new_footer_top">
		<div class="">
			<div class="row">
				<div class="col-lg-5 col-md-6">
					<div class="d-flex flex-column gap-3 align-content-start">
						<h4 class="text-primary">Servmart</h4>
						<h5>تصفح الخدمات والمنتجات القريبة منك</h5>
						<!-- <form>
							<input type="text" name="EMAIL" class="form-control memail" placeholder="Email">
							<button class="btn btn_get btn_get_two" type="submit">اشترك</button>
						</form> -->
						<div class="d-flex f_social_icon flex-nowrap flex-row gap-3">
							<a href="#" class="fab fa-facebook"></a>
							<a href="#" class="fab fa-twitter"></a>
							<a href="#" class="fab fa-linkedin"></a>
						</div>
					</div>
				</div>

				<div class="col-7">
					<div class="row">
						<div class="col-lg-4 col-md-8">
							<div class="d-flex flex-column align-content-start">
								<h6 class="">صفحات الموقع</h6>
								<ul class="list-unstyled gap-3">
									<li><a href="#">الرئيسية</a></li>
									<li><a href="#">المتجر </a></li>
									<li><a href="#">الخدمات</a></li>
									<li><a href="#"> المنتجات</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-4 col-md-8">
							<div class="d-flex flex-column align-content-start">
								<h6 class="">المساعدة</h6>
								<ul class="list-unstyled gap-3">
									<li><a href="#">اضافة طلب</a></li>
									<li><a href="#">عربة التسوق </a></li>
									<li><a href="#">اضافةطلب</a></li>
									<li><a href="#"> اضافة منتج</a></li>
									<li><a href="#">طلباتى </a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<!-- <div class="col-lg-3 col-md-6">
					<div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s"
						style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
						<h3 class="f-title f_600 t_color f_size_18">Team Solutions</h3>
						<div class="f_social_icon gap-3">
							<a href="#" class="fab me-5 fa-facebook"></a>
							<a href="#" class="fab me-5 fa-twitter"></a>
							<a href="#" class="fab me-5 fa-linkedin"></a>
							<a href="#" class="fab me-5 fa-pinterest"></a>
						</div>
					</div>
				</div> -->
			</div>
		</div>
		<div class="footer_bg">
			<div class="footer_bg_one"></div>
			<div class="footer_bg_two"></div>
		</div>
	</div>

	<div class="row">
		<div class="container w-75 mx-auto">
			<div class="d-lg-flex justify-content-between align-items-center py-3 text-center text-lg-start">
				<div class="">
					حقوق النشر 2023 Servmart.
				</div>
				<div class="nav mt-2 mt-lg-0">
					<ul class="list-inline text-primary-hover mx-auto mb-0">
						<li class="list-inline-item me-0">
							<a class="nav-link py-1" href="#">
								سياسة الخصوصية
							</a>
						</li>
						<li class="list-inline-item me-0">
							<a class="nav-link py-1" href="#">
								الشروط والأحكام
							</a>
						</li>
						<li class="list-inline-item me-0">
							<a class="nav-link py-1 pe-0" href="#">
								سياسة الاسترداد
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</footer>
