<div class="col-lg-10">
  <div class="page-content mb-5 m-0">
      <div class="flex-grow"> <!-- Main Content -->
          <section class="overflow-hidden pt-0 pt-lg-5">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12 text-center mx-auto">
                          <!-- SVG decoration START -->
                          <img src="../../../../../assets/SVG/congratulations.svg" class="h-300px  " alt="">
                          <!-- SVG decoration END -->
                          
                          <!-- Title -->
                          <h1 class="fs-3"> تم تقديم قائمتك بنجاح🎉</h1>
                          <!-- Info -->
          
                          <!-- Buttons -->
                          <a  class="btn btn-primary mb-5 me-1 text-center"(click)="navigate()">السابق</a>
                          <a  class="btn btn-light mb-5"(click)="navigatetoHome()">العودة للصفحة الرئيسية</a>
                      </div>
                  </div>
              </div>
          </section>
      </div>
  </div>
</div>
