<div class="bottom-0 d-inline d-lg-none position-fixed w-100">
	<div class="card w-100 border-bottom-0 rounded-bottom-0 shadow-lg">
		<!-- Sidebar Content -->
		<div class="card-body d-flex justify-content-between p-3">
			<!-- Avatar -->
			<div class="">
				<img class="avatar-img rounded-circle border border-2 border-white d-none d-sm-flex "
					style="width: 5rem;" src="https://images.placeholders.dev/?width=200&height=200" alt="">
			</div>

			<!-- Sidebar menu item -->
			<ul class="flex-row justify-content-between align-items-center ms-5 nav nav-pills-primary-soft w-100">
				<li class="nav-item">
					<a class="nav-link justify-center lg:justify-start active" href="../account-profile.html">
						<i class="fa-duotone fa-user text-xl"></i>
						<span class="d-none lg:inline-block">الملف الشخص</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link justify-center lg:justify-start" href="../account-bookings.html">
						<i class="fa-duotone fa-ticket text-xl"></i>
						<span class="d-none lg:inline-block">الطلبات</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link justify-center lg:justify-start" href="../account-travelers.html">
						<i class="fa-duotone fa-cart-shopping text-xl"></i>
						<span class="d-none lg:inline-block">عربة التسوق</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link justify-center lg:justify-start" href="../account-settings.html">
						<i class="fa-duotone fa-gear text-xl"></i>
						<span class="d-none lg:inline-block">الاعدادات</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link justify-center lg:justify-start text-danger bg-danger-soft-hover" href="#">
						<i class="fa-duotone fa-power-off text-xl"></i>
						<span class="d-none lg:inline-block">خروج</span>
					</a>
				</li>
			</ul>

		</div>
	</div>
</div>
