.info-toast-custom {
	background-color: #0072F5;
	color: #fff;
	border-radius: 1rem;
	box-shadow: 0 1rem 3rem rgba(29, 58, 83, 0.15);
}

.error-toast-custom {
	background-color: #FF4635;
	color: #fff;
	border-radius: 1rem;
	box-shadow: 0 1rem 3rem rgba(29, 58, 83, 0.15);
}

.success-toast-custom {
	background-color: #00CC66;
	color: #fff;
	border-radius: 1rem;
	box-shadow: 0 1rem 3rem rgba(29, 58, 83, 0.15);
}

.warning-toast-custom {
	background-color: #FF9F1C;
	color: #fff;
	border-radius: 1rem;
	box-shadow: 0 1rem 3rem rgba(29, 58, 83, 0.15);
}

.show-toast-custom {
	background-color: #1E293B;
	color: #fff;
	border-radius: 1rem;
	box-shadow: 0 1rem 3rem rgba(29, 58, 83, 0.15);
}
