<section>
	<div class="container">
		<div class="card border-0">

			<div class="card-header">
				<h6 class="mb-0">تفقد اخر اعمالي</h6>
			</div>

			<div class="card-body">
				<div class="row gy-4">

					<!-- project example -->
					<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12" *ngFor="let item of previusWorkList">
						<div class="card">
							<img src="asdfds" class="card-img-top" alt="...">
							<div class="card-body">
								<div class="d-flex flex-column">
									<h5 class="card-title">
										item.title
									</h5>
									<span>

										item.categoryName

									</span>
								</div>
								<p class="card-text line-clamp-3">
									item.discription
								</p>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="card-footer border-0">

				<!-- Pagination -->
				<div class="d-flex flex-row justify-center align-content-center align-items-center my-4">
					<pagination-controls (pageChange)="pageChanged($event)" previousLabel="السابق" nextLabel="التالي"
						[maxSize]="7">
					</pagination-controls>
				</div>

			</div>

		</div>
	</div>
</section>