<div class="card border bg-transparent">

	<div class="card-header bg-transparent border-bottom">
		<h5 class="card-header-title">طلباتي</h5>
	</div>

	<div class="card-body p-0">

		<!-- Tabs -->
		<ul class="nav nav-tabs nav-bottom-line nav-responsive nav-justified" role="tablist">
			<li class="nav-item" role="presentation">
				<a class="nav-link mb-0 justify-center active" data-bs-toggle="tab" href="#tab-1" aria-selected="false"
					role="tab" tabindex="-1" (click)="statusChanged(0)">
					<i class="fa-duotone fa-flag-pennant"></i>
					المنتظرة
					<span class="bg-primary text-bg-primary px-2 py-1 rounded-1"
						*ngIf="status == 0">{{totalRequestItems}}</span>
				</a>
			</li>
			<li class="nav-item" role="presentation">
				<a class="nav-link mb-0 justify-center" data-bs-toggle="tab" href="#tab-1" aria-selected="false"
					role="tab" tabindex="-1" (click)="statusChanged(1)">
					<i class="fa-duotone fa-alarm-clock"></i>
					تحت التنفيذ
					<span class="bg-primary text-bg-primary px-2 py-1 rounded-1"
						*ngIf="status == 1">{{totalRequestItems}}</span>
				</a>
			</li>
			<li class="nav-item" role="presentation">
				<a class="nav-link mb-0 justify-center" data-bs-toggle="tab" href="#tab-1" aria-selected="true"
					role="tab" (click)="statusChanged(3)">
					<i class="fa-duotone fa-check-double"></i>
					المنتهية
					<span class="bg-primary text-bg-primary px-2 py-1 rounded-1"
						*ngIf="status == 3">{{totalRequestItems}}</span>
				</a>
			</li>
		</ul>

		<!-- Tabs content START -->
		<div class="tab-content p-2 p-sm-4" id="nav-tabContent">

			<div class="text-center" *ngIf="isLoading">
				<i class="fa-duotone fa-spinner-third fa-spin text-primary fs-4"></i>
			</div>

			<div [ngSwitch]="status" *ngIf="!isLoading && requestList.length == 0">
				<ng-template [ngSwitchCase]="0">
					<h6 class="text-center">لا يوجد لديك طلبات منتظرة</h6>
				</ng-template>
				<ng-template [ngSwitchCase]="1">
					<h6 class="text-center">لا يوجد لديك طلبات تحت التنفيذ</h6>
				</ng-template>
				<ng-template [ngSwitchCase]="3">
					<h6 class="text-center">لا يوجد لديك طلبات مكتملة</h6>
				</ng-template>
			</div>

			<request-list-content *ngIf="!isLoading && requestList.length != 0" class="tab-pane fade active show"
				id="tab-1" role="tabpanel" [status]="status" [currentPage]="currentPage" [requestList]="requestList"
				(pageChangedEvent)="pageChanged($event)">
			</request-list-content>

		</div>

	</div>
</div>
