<div class="card border bg-transparent">

	<div class="card-header bg-transparent border-bottom">
		<h5 class="card-header-title">طلباتي</h5>
	</div>

	<div class="card-body p-0">

		<!-- Tabs -->
		<ul class="nav nav-tabs nav-bottom-line nav-responsive nav-justified" role="tablist">
			<li class="nav-item" role="presentation">
				<a class="nav-link mb-0 justify-center active" data-bs-toggle="tab" href="#tab-1" aria-selected="false"
					role="tab" tabindex="-1">
					<i class="fa-duotone fa-flag-pennant"></i>
					المنتظرة
				</a>
			</li>
			<li class="nav-item" role="presentation">
				<a class="nav-link mb-0 justify-center" data-bs-toggle="tab" href="#tab-2" aria-selected="false"
					role="tab" tabindex="-1">
					<i class="fa-duotone fa-alarm-clock"></i>
					تحت التنفيذ
				</a>
			</li>
			<li class="nav-item" role="presentation">
				<a class="nav-link mb-0 justify-center" data-bs-toggle="tab" href="#tab-3" aria-selected="true"
					role="tab">
					<i class="fa-duotone fa-check-double"></i>
					المنتهية
				</a>
			</li>
		</ul>

		<!-- Tabs content START -->
		<div class="tab-content p-2 p-sm-4" id="nav-tabContent">

			<div class="alert alert-danger d-flex flex-row justify-content-between align-content-center fade show"
				role="alert" *ngIf="isThereError">
				<div class="align-items-center d-flex flex-row gap-4">
					<i class="fa-duotone fa-triangle-exclamation fs-4"></i>
					{{errorMessage}}
				</div>
				<button type="button" class="btn btn-round btn-danger-soft fs-4" data-bs-dismiss="alert"
					aria-label="Close">
					<i class="fa-solid fa-xmark"></i>
				</button>
			</div>

			<!-- Tab content item -->
			<div class="tab-pane fade active show" id="tab-1" role="tabpanel">
				<!-- Request Item -->
				<div class="card border mb-4"
					*ngFor="let item of requestList | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalRequestItems }">
					<div class="card-header border-bottom d-md-flex justify-content-md-between align-items-center">
						<!-- Icon and Title -->
						<div class="d-flex align-items-center gap-4">
							<div class="icon-lg bg-light rounded-circle flex-shrink-0">
								<img src="https://images.placeholders.dev/?width=200&height=200" alt=""
									class="rounded-circle">
							</div>
							<!-- Title -->
							<div class="ms-2">
								<!-- <h6 class="card-title mb-0">اسم الطلب او الخدمة</h6> -->
								<h6 class="card-title mb-0">{{item.Title}}</h6>
								<ul class="nav nav-divider small p-0 mt-2">
									<li class="nav-item">رقم الطلب: {{item.id}}</li>
									<li class="nav-item">اسم التصنيف</li>
								</ul>
							</div>
						</div>

						<!-- Button -->
						<div class="mt-2 mt-md-0 d-flex flex-row gap-2">
							<a href="#" class="btn btn-primary-soft mb-0">تعديل</a>
							<a href="#" [routerLink]="['/offers',item.id]" class="btn btn-primary mb-0">رؤية
								العروض</a>
						</div>
					</div>
					<div class="card-body">
						<div class="row g-3">
							<div class="col-sm-6 col-md-4">
								<span>تاريخ الانشاء</span>
								<h6 class="mb-0">{{item.startDate}}</h6>
							</div>

							<div class="col-sm-6 col-md-4">
								<span>تاريخ الانتهاء</span>
								<!-- <h6 class="mb-0">Tue 06 Aug 4:00 PM</h6> -->
								<h6 class="mb-0">{{item.endDate}}</h6>
							</div>

							<div class="col-md-4">
								<span>الميزانية</span>
								<h6 class="mb-0">${{item.expectSalary}}</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Tabs content item -->

			<!-- Tab content item -->
			<div class="tab-pane fade" id="tab-2" role="tabpanel">
				<!-- Request Item -->
				<div class="card border mb-4">
					<div class="card-header border-bottom d-md-flex justify-content-md-between align-items-center">
						<!-- Icon and Title -->
						<div class="d-flex align-items-center gap-4">
							<div class="icon-lg bg-light rounded-circle flex-shrink-0">
								<img src="https://images.placeholders.dev/?width=200&height=200" alt=""
									class="rounded-circle">
							</div>
							<!-- Title -->
							<div class="ms-2">
								<h6 class="card-title mb-0">اسم الطلب او الخدمة</h6>
								<ul class="nav nav-divider small p-0 mt-2">
									<li class="nav-item">رقم الطلب: CGDSUAHA12548</li>
									<li class="nav-item">اسم التصنيف</li>
								</ul>
							</div>
						</div>

						<!-- Button -->
						<div class="mt-2 mt-md-0 d-flex flex-row gap-2">
							<a href="#" class="btn btn-primary-soft mb-0">التفاصيل</a>
						</div>
					</div>
					<div class="card-body">
						<div class="row g-3">
							<div class="col-sm-6 col-md-4">
								<span>تاريخ الانشاء</span>
								<h6 class="mb-0">Tue 05 Aug 12:00 AM</h6>
							</div>

							<div class="col-sm-6 col-md-4">
								<span>تاريخ الانتهاء</span>
								<h6 class="mb-0">Tue 06 Aug 4:00 PM</h6>
							</div>

							<div class="col-md-4">
								<span>الميزانية</span>
								<h6 class="mb-0">$125</h6>
							</div>
						</div>
					</div>
				</div>
				<!-- Request Item -->
				<div class="card border mb-4">
					<div class="card-header border-bottom d-md-flex justify-content-md-between align-items-center">
						<!-- Icon and Title -->
						<div class="d-flex align-items-center gap-4">
							<div class="icon-lg bg-light rounded-circle flex-shrink-0">
								<img src="https://images.placeholders.dev/?width=200&height=200" alt=""
									class="rounded-circle">
							</div>
							<!-- Title -->
							<div class="ms-2">
								<h6 class="card-title mb-0">اسم الطلب او الخدمة</h6>
								<ul class="nav nav-divider small p-0 mt-2">
									<li class="nav-item">رقم الطلب: CGDSUAHA12548</li>
									<li class="nav-item">اسم التصنيف</li>
								</ul>
							</div>
						</div>

						<!-- Button -->
						<div class="mt-2 mt-md-0 d-flex flex-row gap-2">
							<a href="#" class="btn btn-primary-soft mb-0">التفاصيل</a>
						</div>
					</div>
					<div class="card-body">
						<div class="row g-3">
							<div class="col-sm-6 col-md-4">
								<span>تاريخ الانشاء</span>
								<h6 class="mb-0">Tue 05 Aug 12:00 AM</h6>
							</div>

							<div class="col-sm-6 col-md-4">
								<span>تاريخ الانتهاء</span>
								<h6 class="mb-0">Tue 06 Aug 4:00 PM</h6>
							</div>

							<div class="col-md-4">
								<span>الميزانية</span>
								<h6 class="mb-0">$125</h6>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Tab content item -->
			<div class="tab-pane fade" id="tab-3" role="tabpanel">
				<!-- Request Item -->
				<div class="card border mb-4">
					<div class="card-header border-bottom d-md-flex justify-content-md-between align-items-center">
						<!-- Icon and Title -->
						<div class="d-flex align-items-center gap-4">
							<div class="icon-lg bg-light rounded-circle flex-shrink-0">
								<img src="https://images.placeholders.dev/?width=200&height=200" alt=""
									class="rounded-circle">
							</div>
							<!-- Title -->
							<div class="ms-2">
								<h6 class="card-title mb-0">اسم الطلب او الخدمة</h6>
								<ul class="nav nav-divider small p-0 mt-2">
									<li class="nav-item">رقم الطلب: CGDSUAHA12548</li>
									<li class="nav-item">اسم التصنيف</li>
								</ul>
							</div>
						</div>

						<!-- Button -->
						<div class="mt-2 mt-md-0 d-flex flex-row gap-2">
							<a href="#" class="btn btn-primary-soft mb-0">التفاصيل</a>
							<a href="#" [routerLink]="['/rateService', 'CGDSUAHA12548']"
								class="btn btn-primary mb-0">تقييم الخدمة</a>
						</div>
					</div>
					<div class="card-body">
						<div class="row g-3">
							<div class="col-sm-6 col-md-4">
								<span>تاريخ الانشاء</span>
								<h6 class="mb-0">Tue 05 Aug 12:00 AM</h6>
							</div>

							<div class="col-sm-6 col-md-4">
								<span>تاريخ الانتهاء</span>
								<h6 class="mb-0">Tue 06 Aug 4:00 PM</h6>
							</div>

							<div class="col-md-4">
								<span>الميزانية</span>
								<h6 class="mb-0">$125</h6>
							</div>
						</div>
					</div>
				</div>
				<!-- Request Item -->
				<div class="card border mb-4">
					<div class="card-header border-bottom d-md-flex justify-content-md-between align-items-center">
						<!-- Icon and Title -->
						<div class="d-flex align-items-center gap-4">
							<div class="icon-lg bg-light rounded-circle flex-shrink-0">
								<img src="https://images.placeholders.dev/?width=200&height=200" alt=""
									class="rounded-circle">
							</div>
							<!-- Title -->
							<div class="ms-2">
								<h6 class="card-title mb-0">اسم الطلب او الخدمة</h6>
								<ul class="nav nav-divider small p-0 mt-2">
									<li class="nav-item">رقم الطلب: CGDSUAHA12548</li>
									<li class="nav-item">اسم التصنيف</li>
								</ul>
							</div>
						</div>

						<!-- Button -->
						<div class="mt-2 mt-md-0 d-flex flex-row gap-2">
							<a href="#" class="btn btn-primary-soft mb-0">التفاصيل</a>
							<a href="#" [routerLink]="['/rateService', 'CGDSUAHA12548']"
								class="btn btn-primary mb-0">تقييم الخدمة</a>
						</div>
					</div>
					<div class="card-body">
						<div class="row g-3">
							<div class="col-sm-6 col-md-4">
								<span>تاريخ الانشاء</span>
								<h6 class="mb-0">Tue 05 Aug 12:00 AM</h6>
							</div>

							<div class="col-sm-6 col-md-4">
								<span>تاريخ الانتهاء</span>
								<h6 class="mb-0">Tue 06 Aug 4:00 PM</h6>
							</div>

							<div class="col-md-4">
								<span>الميزانية</span>
								<h6 class="mb-0">$125</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>